<div class="loginform-conatiner">
  <div class="loginform-col2">
    <div class="logo">
      <img src="./../../assets/images/logo.png" alt="">
      <h5>Book Library</h5>
    </div>
    <h4>Forgot Password</h4>
    <form class="form-control">
      <div [formGroup]="resetPassword" (ngSubmit)="onReset()" class="form-label">
        <label for="mail">Email</label>
        <input type="email" class="form-control" name="email" id="Username" formControlName="email" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <button type="submit" class="button">Next</button>
    </form>
  </div>
</div>