<div class="loginform-conatiner">
  <div class="loginform-col2">
    <div class="logo">
      <img src="./../../assets/images/logo.png" alt="">
      <h5>Book Library</h5>
    </div>
    <h4>Forgot Password</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore nisi odit quo fugit reprehenderit?</p>
    <!-- Reset password form  -->
    <form [formGroup]="resetPassword" class="form-control" (ngSubmit)="onReset()" id="resetPasswordForm">
      <div class="form-label">
        <label for="mail">Email</label>
        <input type="email" class="form-control" name="email" id="Username" formControlName="email"
          aria-describedby="emailHelp" placeholder="Email">
      </div>
      <button type="submit" class="button" (click)="showOtpForm()">Next</button>
    </form>
    <!-- OTP form  -->
    <form [formGroup]="otpform" (ngSubmit)="otp()" class="form-control" id="otpForm">
      <div class="form-label">
        <label for="mail">Enter OTP</label>
        <input type="text" class="form-control" name="otp" id="otp" formControlName="otp" aria-describedby="emailHelp"
          placeholder="Enter OTP">
      </div>
      <div>
        <button type="submit" class="button">Submit</button>
      </div>
    </form>
  </div>
</div>