<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <div class="back-button">
            <i (click)="onBack()" class="fas fa-arrow-left" style="color: black;cursor: pointer;"></i>
            <h4>Forgot Password</h4>
      
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore nisi odit quo fugit reprehenderit?</p>

        <!-- OTP form  -->
        <form [formGroup]="otpform" (ngSubmit)="otp()" class="form-control" id="otpForm">
            <div class="form-label">
                <label for="mail">Enter OTP</label>
                <div class="otp-input">
                    <input type="text" class="form-control" name="otp1" id="otp1" formControlName="otp1" required maxlength="1" />
                    <input type="text" class="form-control" name="otp2" id="otp2" formControlName="otp2" required maxlength="1" />
                    <input type="text" class="form-control" name="otp3" id="otp3" formControlName="otp3" required maxlength="1" />
                    <input type="text" class="form-control" name="otp4" id="otp4" formControlName="otp4" required maxlength="1" />
                  </div>
                <a (click)="resendotp()">Resend OTP</a>
            </div>
            <div>
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>