<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <div class="back-button">
            <i (click)="onBack()" class="fas fa-arrow-left" style="color: black;cursor: pointer;"></i>
            <h4>OTP</h4>

        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ducimus? Velit et a modi nobis.</p>
        <form [formGroup]="verifyform" (ngSubmit)="onVerify()" class="form-control" id="registerForm">
            <div style="display: flex;flex-direction: column;gap: 10px;">
                <div class="form-label">
                    <label for="otp">OTP</label>
                    <div class="otp-input">
                        <input type="text" class="form-control" name="otp1" id="otp1" formControlName="otp1" required maxlength="1" (keydown)="handleDeletion($event, null)" (input)="moveToNext($event, 2)" />
                        <input type="text" class="form-control" name="otp2" id="otp2" formControlName="otp2" required maxlength="1" (keydown)="handleDeletion($event, 2)" (input)="moveToNext($event, 3)" />
                        <input type="text" class="form-control" name="otp3" id="otp3" formControlName="otp3" required maxlength="1" (keydown)="handleDeletion($event, 3)" (input)="moveToNext($event, 4)" />
                        <input type="text" class="form-control" name="otp4" id="otp4" formControlName="otp4" required maxlength="1" (keydown)="handleDeletion($event, 4)" (input)="moveToNext($event, null)" />
                    </div>
                    <!-- <input type="text" class="form-control" name="otp" id="otp"
                        formControlName="otp" aria-describedby="emailHelp" placeholder="Enter otp"
                        required> -->
                </div>
                <a (click)="resendotp()">Resend OTP</a>
            </div>
            <!-- <div
                *ngIf="verifyform.controls['otp'].invalid && (verifyform.controls['otp'].dirty || verifyform.controls['otp'].touched)">
                <div class="form-validation form-rules" *ngIf="verifyform.controls['otp'].errors?.['required']">OTP is required</div>
            </div> -->
            <button type="submit" class="button">Set Password</button>
        </form>
    </div>
</div>