<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <h4>Sign Up</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ducimus? Velit et a modi nobis.</p>
        <form [formGroup]="verifyform" (ngSubmit)="onVerify()" class="form-control" id="registerForm">
            <div>
                <div class="form-label">
                    <label for="otp">OTP</label>
                    <input type="text" class="form-control" name="otp" id="otp"
                        formControlName="otp" aria-describedby="emailHelp" placeholder="Enter otp"
                        required>
                </div>
                <a (click)="resendotp()">Resend OTP</a>
            </div>
            <div
                *ngIf="verifyform.controls['otp'].invalid && (verifyform.controls['otp'].dirty || verifyform.controls['otp'].touched)">
                <div class="form-validation form-rules" *ngIf="verifyform.controls['otp'].errors?.['required']">OTP is required</div>
            </div>
            <button type="submit" class="button">Set Password</button>
        </form>
    </div>
</div>