<div class="bk-shadow">
    <div class="book-search">
        <div class="search_box">
            <img src="./../../../assets/images/search_bar.png" alt="">
            <input type="search" placeholder="Search book by type">
        </div>
        <button (click)="showDialog()" icon="pi pi-external-link" label="Show">Type  <i class="fas fa-plus fa-md" style="color: white; margin-left: 10px;"></i></button>
    </div>
    <div class="bookcontainer" >
        <!-- <div class="bookcontainer-row1">
            <h4>Books Category</h4>
            <a href="/bookcategorydetail">View All</a>
        </div> -->
        <div class="bookcontainer-row2">
            <div class="bookdes" *ngFor="let type of types.reverse()">
                <div class="image-container">
                    <img [src]="environment+type.image" alt="">
                    <div class="button-container">
                      <a href=""><i class="far fa-eye fa-lg" style="color: #fb3453;"></i></a>
                      <a [href]="'/editbooktype/' + type.id"><i class="far fa-edit fa-lg" style="color: #fb3453;"></i></a>
                      <a (click)="confirmDelete(type.id)"><i class="fas fa-trash fa-lg" style="color: #68a900;"></i></a>
                    </div>
                </div>
                <div class="">
                    <p class="">{{type.type}}</p>
                </div>
            </div>
            <!-- <div class="bookdes" (click)="showcategoryform()"> -->
                <!-- <form action="">
                    <label for="category"></label>
                    <input type="text">
                </form> -->
                <!-- <div class="addcategory">
                    <i class="fas fa-plus fa-lg" style="color: #fb3453;"></i>
                    <button>Add New Category</button>
                </div> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="card flex justify-content-center">
        <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
        <p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
                <h4 style="font-size: 26px; margin: 0px 0px 10px 0px">Add Type</h4>
                <form [formGroup]="typeform" (ngSubmit)="onAddingType()" class="form-control" id="categoryform">
                    <!-- <label for="type">Enter Type Name</label> -->
                    <input type="text" class="form-control" name="type" id="category"  formControlName="type" placeholder="Enter book type name" required>
                    <div *ngIf="typeform.controls['type'].invalid && (typeform.controls['type'].dirty || typeform.controls['type'].touched)">
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['required']">Name is
                            required.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['pattern']">Name cannot be alphanumeric.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['minlength']">Name must be 3 to 20 characters long.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['maxlength']">Name must be 3 to 20 characters long.</div>
                    </div>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <label for="image" class="custom-file-upload" style="display: flex; justify-content: center; align-items: center">
                            <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                            <input type="file" id="image" name="image" formControlName="image" style="display: none;" required>
                        </label>
                        <p *ngIf="typeform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> {{getImageFileName() }}</p>
                    </div>
                    <div *ngIf="typeform.controls['image'].invalid && (typeform.controls['image'].dirty || typeform.controls['image'].touched)">
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['required']">Image is required.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['extension']">Invalid image format, Accepted format: .jpg, .jpeg, .png, .gif.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['fileSize']">Image size should be lessthan 5mb.</div>
                    </div>
                    <!-- <label for="image">Upload Image</label>
                    <input type="file" class="form-control" name="image" id="image"  formControlName="image" required> -->
                    <input type="submit" value="Save" >
                </form>
        </p-dialog>
    </div>
</div>
