@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
button{
    border: none;
    background-color: transparent;
    color: white;
}
a{
    text-decoration: none;
    color: #fb3452;
}
h4{
    font-size: 30px;
    font-weight: 200;
    margin: 0px;
}
h5{
    font-size: 20px;
}
p{
    text-align: justify;
}
.bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
/* Global classes ends  */
/* Conatiner classes starts */
.main-container{
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
}
.container{
    display: flex;
    color: white;
    gap: 20px;
    height: 100%;
}
.image-slider-container{
    flex: 2;
    height: 100%;
}
.slider{
    display: flex;
    background-color: #fb3452;
    padding: 30px;
    height: 100%;
    border-radius: 20px;
    justify-content: space-between;
}
.slider img{
    width: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.graph-container{
    flex: 1;
}
.graph-details{
    display: flex;
    justify-content: space-between;
    color: black;
}
.graph-tags{
    display: flex;
    gap: 10px;
}
.book_list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.writer-name{
    color: #0000006c;
}
.price{
    color: #fb3452;
    font-weight: 600;
}
.book-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.book-section-row2{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
}
.book-frame{
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: space-between;
}
.book-frame img{
    width: 100%;
    height: 80%;
}
.book-detail{
    height: 20%;
}
.table-section{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.table-container{
    overflow-x: auto;
}
table{
    border-radius: 10px;
    border: solid 1px #EAEAEA;
    border-collapse: separate;
    border-spacing: 10px 30px;
    height: 90%;
    width: 100%;
}
td,th{
    border-style: none;
    text-align: center;
    vertical-align: center;
}
.table-head{
    display: flex;
    justify-content: space-between;
}
.table-button{
    display: flex;
    gap: 20px;
    align-items: center;
}
.table-button a {
    background-color: #fb34521e;
    border-radius: 5px;
    padding: 10px 20px;
}
.reader-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.reader-name img{
    width: 50px;
    border-radius: 50%;
}
/* Media queries  */
@media (max-width: 450px) {
    .slider img{
        display: none;
    }
    th{
        font-size: 10px
    }
    td{
        font-size: 8px;
    }
    .reader-name img{
        display: none;
    }
    .book_frame {
        height: 100%;
    }
    .book_frame img{
        height: 90%; 
    }
   
}
@media (max-width: 576px) {
    h5{
        font-size: 20px;
    }
    p{
      font-size: 6px;
    }
    .table-button a{
        font-size: 8px;
        padding: 8px ;
        width: 100%;
    }
    th{
        font-size: 12px
    }
    td{
        font-size: 10px;
    }
    .reader-name img{
        width: 20px;
    }
    .book_frame {
        width: 25%; 
    }
    .book_frame img{
        height: 50%; 
    }
   
}
@media (max-width: 768px) {
    h5{
        font-size: 8px;
    }
    p{
      font-size: 10px;
    }
    th{
        font-size: 12px
    }
    td{
        font-size: 12px;
    }
    /* .reader-name img{
        width: 30px;
    } */
    .book_frame {
        width: 25%; 
    }
    .book_frame img{
        height: 50%; 
    }
}
@media (max-width: 992px) { 
   button{
    width: 100%;
    text-align: left;
   }
   h4{
    font-size: 1.5rem;
   }
   h5{
    font-size: 12px;
   }
   p{
     font-size: 9px;
   }
   .container{
    flex-direction: column;
   }
   .slider{
    padding: 25px;
   }
   .slider img{
    width: 55%;
   }
   .content{
       gap: 24px;
   }
   .line-chart{
    height: 100%;
    }
   .book_frame {
    height: 100%; 
    }
    .book_frame img{
        height: 20%; 
    }
}
@media (max-width: 1200px) { 
    /* h4{
        font-size: 1.2rem;
    }
    h5{
     font-size: 10px;
    }
    p{
      font-size: 8px;
    } */
    /* .container{
        flex-direction: column;
    } */
    .slider{
        height: 100%;
    }
    .line-chart{
        height: 100%;
    }
    p{
      font-size: 14px;
    }
}
@media (max-width: 1400px) { 
    h5{
     font-size: 16px;
    }
    p{
      font-size: 14px;
    }
    .slider{
        height: 100%;
    }
    .content{
        gap: 45px;
    }
    .book_frame {
        height: 100%; 
    }
}