<div class="bk-shadow">
    <div class="bookcategories-row1" *ngFor="let book of books">
        <a [href]="'/bookdescription/' + book.id"><img [src]="environment+book.img" alt=""></a>
        <div class="book-details">
                <div class="book-details-row1">
                    <h3>Book Name</h3>
                    <h4>{{book.bookName}}</h4>
                </div>
                <div class="book-details-row1">
                    <h3>Book Summary</h3>
                    <h4>{{book.booksummary}}</h4>
                </div>
                <div class="book-details-row1">
                    <h3>Writer Name</h3>
                    <h4>{{book.writerName}}</h4>
                </div>
        </div>
    </div>
</div>