<div class="bk-shadow">
    <div class="bookcategories-row1">
        <a [href]="'/bookdescription/' + books.id"><img [src]="books.img" alt=""></a>
        <div class="book-details">
                <div class="book-details-row1">
                    <h3>Book Name</h3>
                    <h4>{{books.bookName}}</h4>
                </div>
                <div class="book-details-row1">
                    <h3>Book Summary</h3>
                    <h4>{{books.booksummary}}</h4>
                </div>
                <div class="book-details-row1">
                    <h3>Writer Name</h3>
                    <h4>{{books.writerName}}</h4>
                </div>
        </div>
    </div>
</div>