@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* GLobal Classes  */
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
h4{
    font-size: 25px;
    font-weight: 400;
}
p{
    font-size: 16px;
}
button{
    border: none;
    width: 20%;
    background-color: transparent;
}
/* Navbar Classses starts  */
.navbarContainer{
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    width: fit-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 96%;
    justify-content: space-between;
}
.menuContainer{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 40px;
}
.toggle{
    display: none;
}
.logoContainer{
    display: flex;
    gap: 10px;
}
.menu{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
}
.setting{
    background-color: #fb345227;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
}
.toggle_btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}
.toggle_btn a {
    display: flex;
    justify-content: center;
    width: 50%;
}
.responsivenavbarContainer{
    display: none;
}
.toggleBtn {
    display: none;
}
.menu img{
    width: 20px;
    align-self: center;
}
.menu:hover{
    color: #fb3452;
}
/* User sidebar classes starts  */
.user-sidebar{
    display: none;
}
/* Media Queries starts */

@media(max-width: 576px){
    .toggle{
      display: flex;
    }
    .user-sidebar{
      display: flex;
    }
}
@media(max-width: 1200px){
    .navbarContainer{
        display: none;
    }
    .responsivenavbarContainer{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 70vh;
        justify-content: space-between;
    }
    .logoContainer img{
        width: 40px;
    }
    .active{
        width: 10%;
        display: flex;
        align-items: center;
        background-color: #fb345221;
        padding: 10px;
        border-radius: 5px;
    }
    .menu img{
        width: 20px;
        color: white;
        align-self: center;
    }
    /* .setting{
        
    } */
}