<!-- <button class="toggle"><i class="fa-solid fa-bars"></i></button> -->
<div class="navbarContainer">
    <div class="menuContainer">
        <div class="logoContainer">
            <img src="./../../../assets/images/logo.png" alt="">
            <h4>Book Library</h4>
        </div>
        <div>
            <a href="/home" class="menu">
                <img src="./../../../assets/images/dash_icon.png" alt="">
                <p>Dashboard</p>
            </a>
        </div>
        <div>
            <a href="/reader" class="menu">
                <img src="./../../../assets/images/reader_icon.png" alt="">
                <p>Reader Management</p>
            </a>
        </div>
        <div>
            <a href="/book" class="menu">
                <img src="./../../../assets/images/reader_icon.png" alt="">
                <p>Book Management</p>
            </a>
        </div>
        <div>
            <a href="/reports" class="menu">
                <img src="./../../../assets/images/report_icon.png" alt="">
                <p>Reports</p>
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="/settings" class="menu setting">
                <img src="./../../../assets/images/settings_icon.png" alt="">
                <a>Settings</a>
            </a>
        </div>
    </div>
</div>
<!-- <div class="responsivenavbarContainer">
    <div class="menuContainer">
        <div class="logoContainer">
            <img src="./../../../assets/images/logo.png" alt="">
        </div>
        <div>
            <a href="/main" class="menu active">
                <img src="./../../../assets/images/dash_icon.png" alt="">
            </a>
        </div>
        <div>
            <a href="/reader" class="menu">
                <img src="./../../../assets/images/reader_icon.png" alt="">
            </a>
        </div>
        <div>
            <a href="/book" class="menu">
                <img src="./../../../assets/images/book_icon.png" alt="">
            </a>
        </div>
        <div>
            <a href="/reports" class="menu">
                <img src="./../../../assets/images/report_icon.png" alt="">
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="/settings" class="">
                <img src="./../../../assets/images/settings_icon.png" alt="">
            </a>
        </div>
    </div>
</div> -->
<!-- <div class="user-sidebar">
    <div class="logoContainer">
        <img src="./../../../assets/images/logo.png" alt="">
    </div>
    <div>
        <a href="/main" class="menu active">
            <img src="./../../../assets/images/dash_icon.png" alt="">
        </a>
    </div>
    <div>
        <a href="/reader" class="menu">
            <img src="./../../../assets/images/reader_icon.png" alt="">
        </a>
    </div>
    <div>
        <a href="/book" class="menu">
            <img src="./../../../assets/images/book_icon.png" alt="">
        </a>
    </div>
    <div>
        <a href="/reports" class="menu">
            <img src="./../../../assets/images/report_icon.png" alt="">
        </a>
    </div>
    <div>
        <a href="/settings" class="">
            <img src="./../../../assets/images/settings_icon.png" alt="">
        </a>
    </div>

</div> -->