<div class="bookPage">
    <div class="bookContainer bk_shadow" >
        <div class="bookContainer_row1">
            <h4>Books Category</h4>
            <a href="">View All</a>
        </div>
        <div class="bookContainer_row2">
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book1.png" alt="">
                <div class="">
                    <p class="">Academic</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book2.png" alt="">
                <div class="">
                    <p class="">Mythological</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book3.png" alt="">
                <div class="">
                    <p class="">Spiritual</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book4.png" alt="">
                <div class="">
                    <p class="">Motivational</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book2.png" alt="">
                <div class="">
                    <p class="">Biographies</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book1.png" alt="">
                <div class="">
                    <p class="">Fictional</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bookContainer bk_shadow" >
        <div class="bookContainer_row1">
            <h4>Books Type</h4>
            <a href="">View All</a>
        </div>
        <div class="bookContainer_row2">
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book7.png" alt="">
                <div class="">
                    <p class="">Books</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book6.png" alt="">
                <div class="">
                    <p class="">Magazine</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book7.png" alt="">
                <div class="">
                    <p class="">General</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book6.png" alt="">
                <div class="">
                    <p class="">Articles</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book6.png" alt="">
                <div class="">
                    <p class="">NewsPaper</p>
                </div>
            </div>
            <div class="bookDes">
                <img class="" src="./../../../assets/images/book7.png" alt="">
                <div class="">
                    <p class="">Art & Design</p>
                </div>
            </div>
        </div>
    </div>
</div>