<div class="bookPage">
    <div class="bookContainer bk_shadow" >
        <div class="bookContainer_row1">
            <h4>Books Category</h4>
            <a href="">View All</a>
        </div>
        <div class="bookContainer_row2">
            <div class="bookDes" *ngFor="let book of books">
                <img class="bookcat_img" [src]="book.bookcat_img" alt="">
                <div class="">
                    <p class="">{{book.category}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bookContainer bk_shadow" >
        <div class="bookContainer_row1">
            <h4>Books Type</h4>
            <a href="">View All</a>
        </div>
        <div class="bookContainer_row2">
            <div class="bookDes" *ngFor="let book of books">
                <img class="" [src]="book.booktype_img" alt="">
                <div class="">
                    <p class="">{{book.booktypename}}</p>
                </div>
            </div>
        </div>
    </div>
</div>