/* Global classes starts  */
.bk_shadow{
    box-shadow: 2px 2px 12px  rgba(128, 128, 128, 0.308);
    border-radius: 15px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #FB3453;
}
/* Global classes ends  */
/* book Container classes starts  */
.bookPage{
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-x: hidden;
}
.bookContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bookContainer_row1{
    display: flex;
    justify-content: space-between;
}
.bookContainer_row2{
    display: flex;
    gap: 50px;
    overflow-x: auto;
}
.bookDes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* media queries starts  */
@media (max-width: 417px) { 
    .bk_shadow{
        padding: 5px;
    }
    .bookContainer_row2{
        gap: 8px;
    }
    .bookDes{
        width: 40%;
    }
    .bookDes img{
        width: 60px;
    }
    h4{
        font-size: 16px;
    }
}
@media (max-width: 576px) { 
    .bk_shadow{
        padding: 8px;
    }
    .bookContainer_row2{
        gap: 10px;
    }
    .bookDes{
        width: 60%;
    }
    .bookDes img{
        width: 80px;
    }
    h4{
        font-size: 16px;
    }
}
@media (max-width: 768px) { 
    .bookDes {
        width: 70%;
    }
    h4{
        font-size: 16px;
    }
}
@media (max-width: 992px) { 
    .bk_shadow{
        padding: 10px;
    }
    .bookContainer_row2{
        gap: 20px;
    }
    .bookDes{
        width: 80%;
    }
    .bookDes img{
        width: 130px;
    }
    h4{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }
    a{
        font-size: 12px;
    }
}