<div class="userprofile-container">
    <div class="userprofile-container-row1">
        <img src="./../../../../assets/images/pass_img.jpg" alt="">
        <div>
            <h4>Emily Clerisseau</h4>
        </div>
    </div>
    <div>
        <hr style="width: 90%; color: rgba(128, 128, 128, 0.379); border: solid 1px;">
    </div>
    <div class="userprofile-container-row2">
        <div class="userprofile-menu">
            <div class="userprofile-icon">
                <i class="fas fa-globe-asia  fa-lg" style="color: #f4740b;"></i>
                <h5>Language</h5>
            </div>
            <button><i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="userprofile-menu">
            <div class="userprofile-icon">
                <i class="fas fa-bell  fa-lg" style="color: #74C0FC;"></i>
                <h5>Notifications</h5>
            </div>
            <button><i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="userprofile-menu">
            <div class="userprofile-icon">
                <i class="fas fa-moon fa-lg" style="color: #B197FC;"></i>
                <h5>Dark Mode</h5>
            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="userprofile-menu">
            <div class="userprofile-icon">
                <i class="fas fa-question-circle fa-lg" style="color: #7ca064; width:25px;"></i>
                <h5>Help ?</h5>
            </div>
            <button><i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="userprofile-menu">
            <div class="userprofile-icon">
                <i class="fas fa-sign-out-alt  fa-lg" style="color: #d9350d;"></i>
                <h5>Log Out</h5>
            </div>
            <button><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>