<div class="bk-shadow">
    <form [formGroup]="editBookForm" (ngSubmit)="onEditBook()" class="form-control" enctype="multipart/form-data">
        <h4>Update Book Details</h4>
        <div class="form">
            <div class="form-col1">
                <div>
                    <div>
                        <label for="bookname">Book Name</label><br>
                        <input class="form-control" formControlName="bookname" type="text" name="bookname"
                            placeholder="Enter Book name">
                        <div
                            *ngIf="editBookForm.controls['bookname'].invalid && (editBookForm.controls['bookname'].dirty || editBookForm.controls['bookname'].touched)">
                            <div *ngIf="editBookForm.controls['bookname'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>

                    <div class="book-price-details-col1">
                        <label for="booksellingprice">Book Actual Price</label><br>
                        <input class="form-control" formControlName="booksellingprice" type="number" inputmode="numeric"
                            name="booksellingprice" placeholder="Enter Book Selling Price">
                        <div
                            *ngIf="editBookForm.controls['booksellingprice'].invalid && (editBookForm.controls['booksellingprice'].dirty || editBookForm.controls['booksellingprice'].touched)">
                            <div *ngIf="editBookForm.controls['booksellingprice'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="book-price-details-col1">
                        <label for="bookwriter">Book Writer Name</label>
                        <input class="form-control" formControlName="bookwriter" type="text" name="booktype"
                            placeholder="Enter Book Writer Name">
                        <div
                            *ngIf="editBookForm.controls['bookwriter'].invalid && (editBookForm.controls['bookwriter'].dirty || editBookForm.controls['bookwriter'].touched)">
                            <div *ngIf="editBookForm.controls['bookwriter'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    
                    <div>
                        <!-- <div style="display: flex; gap: 10px; align-items: center;">
                            <label for="file" class="custom-file-upload">
                                <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                                <input type="file" id="file" name="file" (change)="onFileSelected($event, 'bookimg')"
                                    formControlName="bookimg" style="display: none;" required>
                            </label>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <i class="fas fa-file-image fa-2x" style="color: #68a900;"></i>
                                <p>{{ addBookForm.get('bookimg')?.value ? addBookForm.get('bookimg')?.value?.name : '' }}</p>
                            </div>
                        </div> -->
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <label for="bookimg" class="custom-file-upload">
                                <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                                <input id="bookimg" (change)="onFileSelected($event)"
                                    formControlName="bookimg" type="file" name="bookimg" style="display: none;"><br><br> 
                            </label>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <!-- <i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> -->
                                <p *ngIf="!selectedFile">{{bookImageUrl}}</p>
                                <p *ngIf="selectedFile">{{getImageUrl()}}</p>
                            </div>
                        </div>
                        <div
                            *ngIf="editBookForm.controls['bookimg'].invalid && (editBookForm.controls['bookimg'].dirty || editBookForm.controls['bookimg'].touched)">
                            <div *ngIf="editBookForm.controls['bookimg'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="book-price-details-col2">
                        <label for="bookcostprice">Book Cost Price</label><br>
                        <input class="form-control" formControlName="bookcostprice" type="number" inputmode="numeric"
                            name="bookcostprice" placeholder="Enter Book Cost Price">
                        <div
                            *ngIf="editBookForm.controls['bookcostprice'].invalid && (editBookForm.controls['bookcostprice'].dirty || editBookForm.controls['booksellingprice'].touched)">
                            <div *ngIf="editBookForm.controls['bookcostprice'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="book-price-details-col2">
                        <label for="publishyear">Enter Publish Year</label>
                        <input class="form-control" formControlName="publishyear" type="number" inputmode="numeric"
                            name="publishyear" placeholder="Enter Publish Year">
                        <div
                            *ngIf="editBookForm.controls['publishyear'].invalid && (editBookForm.controls['publishyear'].dirty || editBookForm.controls['publishyear'].touched)">
                            <div *ngIf="editBookForm.controls['publishyear'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <div class="form-col2">
                <div class="type">
                    <div class="type-col1">
                        <label for="bookcategories">Book Category Name</label>
                        <select name="bookcategories" id="bookcategories"  (click)="getBookCategory()"
                        (change)="getBookCategoryImage()" formControlName="bookcategories">
                            <option disabled selected value="">Select Book Category Name</option>
                            <option *ngFor="let bookcategory of bookcategories" [ngValue]="bookcategory.name">{{
                                bookcategory.name }}
                            </option>
                        </select>
                        <div
                            *ngIf="editBookForm.controls['bookcategories'].invalid && (editBookForm.controls['bookcategories'].dirty || editBookForm.controls['bookcategories'].touched)">
                            <div *ngIf="editBookForm.controls['bookcategories'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="bookcategoryimg">Book Category Image</label>
                        <div style="border: solid 2px black; padding: 15px; width: 292px;">
                            <h5 *ngIf="selectedCategoryImage; else elseCategoryBlock">{{selectedCategoryImage}}</h5>
                            <ng-template #elseCategoryBlock>{{bookCategoryImageUrl}}</ng-template>
                         </div>
                         <div *ngIf="editBookForm.controls['bookcategoryimg'].invalid && (editBookForm.controls['bookcategoryimg'].dirty || editBookForm.controls['bookcategoryimg'].touched)">
                             <div *ngIf="editBookForm.controls['bookcategoryimg'].errors?.['required']; ">
                                 <div class="form-validation form-rules">Required Field.</div>
                             </div>
                         </div>
                    </div>
                    <!-- <div class="type-col2">
                        <div class="bookcategory-img">
                            <img [src]="environment+selectedCategoryImage" alt="Selected Category Image">
                        </div>
                        <label for="bookcategoryimg">Book Category Image</label>
                        <select name="bookcategoryimg"
                            id="bookcategoryimg" formControlName="bookcategoryimg">
                            <option disabled selected value="">Select Book Category Image</option>
                            <option *ngFor="let bookcategoryimage of bookcategoriesimage"
                                [ngValue]="bookcategoryimage.image">
                                {{ bookcategoryimage.abbrev }}
                            </option>
                        </select>
                        <img *ngIf="editBookForm.get('bookcategoryimg')?.value" [src]="editBookForm.get('bookcategoryimg')?.value" alt="Book Category Image">
                        <div
                            *ngIf="editBookForm.controls['bookcategoryimg'].invalid && (editBookForm.controls['bookcategoryimg'].dirty || editBookForm.controls['bookcategoryimg'].touched)">
                            <div *ngIf="editBookForm.controls['bookcategoryimg'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="type">
                    <div class="type-col1">
                        <label for="booktype">Type Name</label>
                        <select name="booktype" id="booktype"  formControlName="booktype" (click)="getBookType()"
                        (change)="getBookTypeImage()">
                            <option disabled selected value="">Select Book Type Name</option>
                            <option *ngFor="let booktype of booktypes" [ngValue]="booktype.name">
                                {{ booktype.name }}
                            </option>
                        </select>
                        <!-- <select name="booktype" id="booktype" formControlName="booktype">
                            <option disabled selected value="">Select Type *</option>
                            <option *ngFor="let booktype of booktypes" [ngValue]="booktype.name">
                                {{ booktype.name }}
                            </option>
                        </select> -->
                        <div
                            *ngIf="editBookForm.controls['booktype'].invalid && (editBookForm.controls['booktype'].dirty || editBookForm.controls['booktype'].touched)">
                            <div *ngIf="editBookForm.controls['booktype'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="type-col2">
                        <div>
                            <input type="hidden" formControlName="bookcategoryimg" [ngModel]="selectedCategoryImage">
                            <input type="hidden" formControlName="booktypeimg" [ngModel]="selectedTypeImage">
                        </div>
                        <!-- <div class="bookcategory-img">
                            <img [src]="environment+selectedTypeImage" alt="Selected Type Image">
                        </div> -->
                        <div>
                            <label for="booktypeimg">Type Image</label>
                            <div style="border: solid 2px black; padding: 15px; width: 292px;"  formControlName="bookcategoryimg" >
                                <!-- <h5 *ngIf="!selectedTypeImage; else elseTypeBlock">{{booktypeImageUrl}}</h5> -->
                                <h5 *ngIf="selectedTypeImage; else elseTypeBlock">{{selectedTypeImage}}</h5>
                                <ng-template #elseTypeBlock>{{booktypeImageUrl}}</ng-template>
                             </div>
                             <div *ngIf="editBookForm.controls['booktypeimg'].invalid && (editBookForm.controls['booktypeimg'].dirty || editBookForm.controls['booktypeimg'].touched)">
                                 <div *ngIf="editBookForm.controls['booktypeimg'].errors?.['required']; ">
                                     <div class="form-validation form-rules">Required Field.</div>
                                 </div>
                             </div>
                        </div>
                        <div
                            *ngIf="editBookForm.controls['booktypeimg'].invalid && (editBookForm.controls['booktypeimg'].dirty || editBookForm.controls['booktypeimg'].touched)">
                            <div *ngIf="editBookForm.controls['booktypeimg'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div>
                    <label for="bookcategory">Book Category Name</label><br>
                    <select class='form-select' (click)="getBookCategory()" name="bookcategory" id="bookcategory" formControlName="bookcategories">
                        <option *ngFor="let bookcategory of bookcategories" [ngValue]="bookcategory.name">{{
                            bookcategory.abbrev }}</option>
                    </select>
                </div> -->
                <!-- <div>
                    <label for="booktype">Book Type Name</label>
                    <select name="booktype" id="booktype" (click)="getBookType()" formControlName="booktype">
                        <option *ngFor="let booktype of booktypes" [ngValue]="booktype.name">{{ booktype.abbrev }}
                        </option>
                    </select>
                </div> -->
            </div>
        </div>
        <div>
            <label for="summary">Enter Book Summary</label><br>
            <textarea name="summary" id="" cols="30" rows="4" formControlName="summary"
                placeholder="Enter Book Summary"></textarea>
            <div
                *ngIf="editBookForm.controls['summary'].invalid && (editBookForm.controls['summary'].dirty || editBookForm.controls['summary'].touched)">
                <div *ngIf="editBookForm.controls['summary'].errors?.['required']; ">
                    <div class="form-validation form-rules">Required Field.</div>
                </div>
            </div>
        </div>
        <div class="button">
            <input type="submit" name="submit" value="Update" class="submit">
        </div>
    </form>

</div>
