<div class="bk-shadow">
    <h4>Update Book Details</h4>
    <form [formGroup]="editBookForm" (ngSubmit)="onEditBook()" class="form-control" enctype="multipart/form-data">
        <div class="form">
            <div class="form-col1">
                <div>
                    <label for="bookname">Book Name</label>
                    <input class="form-control" formControlName="bookname" type="text" name="bookname"
                        placeholder="Enter Book name">
                    <div
                        *ngIf="editBookForm.controls['bookname'].invalid && (editBookForm.controls['bookname'].dirty || editBookForm.controls['bookname'].touched)">
                        <div *ngIf="editBookForm.controls['bookname'].errors?.['required']; ">
                            <div class="form-validation form-rules">Required Field.</div>
                        </div>
                    </div>
                </div>
                <div class="file-input">
                    <label for="file" class="custom-file-label"><i class="fas fa-upload" style="color: white;"></i>
                        Update Book Image</label>
                    <input class="form-control file" id="file" (change)="onFileSelected($event)"
                        formControlName="bookimg" type="file" name="bookimg" accept="image/*"><br><br> 
                        <span
                        class="file-name">{{bookImageUrl}}</span>
                    <div
                        *ngIf="editBookForm.controls['bookimg'].invalid && (editBookForm.controls['bookimg'].dirty || editBookForm.controls['bookimg'].touched)">
                        <div *ngIf="editBookForm.controls['bookimg'].errors?.['required']; ">
                            <div class="form-validation form-rules">Required Field.</div>
                        </div>
                    </div>
                </div>
                <div class="book-price-details">
                    <div class="book-price-details-col1">
                        <label for="booksellingprice">Book Actual Price</label>
                        <input class="form-control" formControlName="booksellingprice" type="number" inputmode="numeric"
                            name="booksellingprice" placeholder="Enter Book Selling Price">
                        <div
                            *ngIf="editBookForm.controls['booksellingprice'].invalid && (editBookForm.controls['booksellingprice'].dirty || editBookForm.controls['booksellingprice'].touched)">
                            <div *ngIf="editBookForm.controls['booksellingprice'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="book-price-details-col2">
                        <label for="bookcostprice">Book Cost Price</label>
                        <input class="form-control" formControlName="bookcostprice" type="number" inputmode="numeric"
                            name="bookcostprice" placeholder="Enter Book Cost Price">
                        <div
                            *ngIf="editBookForm.controls['bookcostprice'].invalid && (editBookForm.controls['bookcostprice'].dirty || editBookForm.controls['booksellingprice'].touched)">
                            <div *ngIf="editBookForm.controls['bookcostprice'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="book-price-details">
                    <div class="book-price-details-col1">
                        <label for="bookwriter">Book Writer Name</label>
                        <input class="form-control" formControlName="bookwriter" type="text" name="booktype"
                            placeholder="Enter Book Writer Name">
                        <div
                            *ngIf="editBookForm.controls['bookwriter'].invalid && (editBookForm.controls['bookwriter'].dirty || editBookForm.controls['bookwriter'].touched)">
                            <div *ngIf="editBookForm.controls['bookwriter'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="book-price-details-col2">
                        <label for="publishyear">Enter Publish Year</label>
                        <input class="form-control" formControlName="publishyear" type="number" inputmode="numeric"
                            name="publishyear" placeholder="Enter Publish Year">
                        <div
                            *ngIf="editBookForm.controls['publishyear'].invalid && (editBookForm.controls['publishyear'].dirty || editBookForm.controls['publishyear'].touched)">
                            <div *ngIf="editBookForm.controls['publishyear'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-col2">
                <div class="type">
                    <div class="type-col1">
                        <label for="bookcategory">Select Book Category Name</label>
                        <select name="bookcategory" id="bookcategory"
                            formControlName="bookcategories">
                            <option disabled selected value="">Select Book Category</option>
                            <option *ngFor="let bookcategory of bookcategories" [ngValue]="bookcategory.name">{{
                                bookcategory.abbrev }}
                            </option>
                        </select>
                        <div
                            *ngIf="editBookForm.controls['bookcategories'].invalid && (editBookForm.controls['bookcategories'].dirty || editBookForm.controls['bookcategories'].touched)">
                            <div *ngIf="editBookForm.controls['bookcategories'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="type-col2">
                        <label for="booktype">Select Book Type Name</label>
                        <select name="booktype" id="booktype"  formControlName="booktype">
                            <option disabled selected value="">Select Book Type</option>
                            <option *ngFor="let booktype of booktypes" [ngValue]="booktype.name">
                                {{ booktype.abbrev }}
                            </option>
                        </select>
                        <div
                            *ngIf="editBookForm.controls['booktype'].invalid && (editBookForm.controls['booktype'].dirty || editBookForm.controls['booktype'].touched)">
                            <div *ngIf="editBookForm.controls['booktype'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="type">
                    <div class="type-col1">
                        <!-- <div class="bookcategory-img">
                            <img [src]="environment+selectedCategoryImage" alt="Selected Category Image">
                        </div> -->
                        <label for="bookcategoryimg">Select Book Category Image</label>
                        <select name="bookcategoryimg"
                            id="bookcategoryimg" formControlName="bookcategoryimg">
                            <option disabled selected value="">Select Book Category Image</option>
                            <option *ngFor="let bookcategoryimage of bookcategoriesimage"
                                [ngValue]="bookcategoryimage.name">
                                {{ bookcategoryimage.abbrev }}
                            </option>
                        </select>
                        <!-- <img *ngIf="editBookForm.get('bookcategoryimg')?.value" [src]="editBookForm.get('bookcategoryimg')?.value" alt="Book Category Image"> -->
                        <div
                            *ngIf="editBookForm.controls['bookcategoryimg'].invalid && (editBookForm.controls['bookcategoryimg'].dirty || editBookForm.controls['bookcategoryimg'].touched)">
                            <div *ngIf="editBookForm.controls['bookcategoryimg'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>

                    </div>
                    <div class="type-col2">
                        <!-- <div class="bookcategory-img">
                            <img [src]="environment+selectedTypeImage" alt="Selected Type Image">
                        </div> -->
                        <label for="booktypeimg">Select Book Type Image</label>
                        <!-- <input class="form-control" (change)="onFileSelected($event, 'booktypeimg')" formControlName="booktypeimg" type="file" name="booktypeimg"
                                placeholder="Enter Book Type Image"> -->
                        <select class='form-select' name="booktypeimg"
                            id="booktypeimg" formControlName="booktypeimg" placeholder="Select Book Type Image">booktype
                            <option disabled selected value="">Select Book Type Image</option>
                            <option *ngFor="let booktypeimage of booktypesimage" [ngValue]="booktypeimage.name">{{
                                booktypeimage.abbrev }}</option>
                        </select>
                        <div
                            *ngIf="editBookForm.controls['booktypeimg'].invalid && (editBookForm.controls['booktypeimg'].dirty || editBookForm.controls['booktypeimg'].touched)">
                            <div *ngIf="editBookForm.controls['booktypeimg'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div>
                    <label for="bookcategory">Book Category Name</label><br>
                    <select class='form-select' (click)="getBookCategory()" name="bookcategory" id="bookcategory" formControlName="bookcategories">
                        <option *ngFor="let bookcategory of bookcategories" [ngValue]="bookcategory.name">{{
                            bookcategory.abbrev }}</option>
                    </select>
                </div> -->
                <!-- <div>
                    <label for="booktype">Book Type Name</label>
                    <select name="booktype" id="booktype" (click)="getBookType()" formControlName="booktype">
                        <option *ngFor="let booktype of booktypes" [ngValue]="booktype.name">{{ booktype.abbrev }}
                        </option>
                    </select>
                </div> -->
            </div>
        </div>
        <div>
            <label for="summary">Enter Book Summary</label><br>
            <textarea name="summary" id="" cols="30" rows="4" formControlName="summary"
                placeholder="Enter Book Summary"></textarea>
            <div
                *ngIf="editBookForm.controls['summary'].invalid && (editBookForm.controls['summary'].dirty || editBookForm.controls['summary'].touched)">
                <div *ngIf="editBookForm.controls['summary'].errors?.['required']; ">
                    <div class="form-validation form-rules">Required Field.</div>
                </div>
            </div>
        </div>
        <div class="button">
            <input type="submit" name="submit" value="Update" class="submit">
        </div>
    </form>

</div>