@font-face {
    font-family: 'Poppins';
    src: url('./../../../../assets/font-family/Poppins/Poppins-Regular.ttf');
}
/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
} */
h4{
    font-size: 30px;
    margin: 0px;
}
a{
    text-decoration: none;
    margin: 0px;
    text-align: center;
}
.bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: (90vh, 90%);
}
/* Form Classes starts */
.form{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    gap: 20px;
}
.form-col1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 48%;
}
.book-price-details{
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
}
.book-price-details-col1, .book-price-details-col2{
    width: 45%;
}
/* .book-price-details div{
    width: 47%;
} */
.form-col2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 55%;
}
.type{
    display: flex;
    margin-top: 4px;
    gap: 20px;
}
.type-col1, .type-col2{
    width: 45%;
}
.bookcategory-img{
    display: flex;
    width: 250px;
}
.bookcategory-img img{
    width: 250px;
    height: 200px;
}
.img-container{
    display: flex;
}
label{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}
/* .file {
    width: 35%;
    text-align: center;
    background-color: #fb3453;
    padding: 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
} */

input[type="text"]{
    margin-top: 5px;
    width: 94%;
    border: none;
    font-size: 16px;
    background: transparent;
    border-bottom: solid 2px black;
    font-family: Poppins;
    color: black;
    /* border-radius: 10px; */
    padding: 15px;
}
input[type="number"]{
    margin-top: 5px;
    width: 94%;
    font-size: 16px;
    border: none;
    background: transparent;
    border-bottom: solid 2px black;
    font-family: Poppins;
    color: black;
    /* border-radius: 10px; */
    padding: 15px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="submit"]{
    padding: 15px;
    border: none;
    background-color: #fb3453;
    color: white;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 18px;
}
input[type="file"]::file-selector-button{
  border: none;
  width: 160px;
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  font-family: Poppins;
  cursor: pointer;
}
.file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    width: 350px;
    padding: 15px 0px;
    border-radius: 5px;
}
  
  .file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .custom-file-label {
    background-color: #fb3453; /* Button color */
    color: #fff;
    padding: 15px 15px; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
  /* Hover effect */
  .custom-file-label:hover {
    background-color: #0056b3; /* Darker button color on hover */
  }
  
  /* Focus effect */
  .custom-file-label:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Add custom focus outline */
  }
  
  /* Disabled state */
  .custom-file-label:disabled {
    opacity: 0.65; /* Reduce opacity for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
  }
  
select{
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: Poppins;
    /* border-radius: 10px; */
    background: transparent;
    color: black;
    border-bottom: solid 2px black;
    padding: 15px;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       Remove default arrow
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%2326749a'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-color: #fb3453 */
}
option{
    color: black;
    background-color: white;
    font-family: Poppins;
    font-size: 20px;
    padding: 10px;
}
textarea{
    width: 98%;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-family: Poppins;
    color: black;
    background: transparent;
    border: solid 2px black;
    padding: 15px;
    border-radius: 10px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit{
    width: 160px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #fb3453;
}
::placeholder{
    font-size: 16px;
    color: black;
    font-family: Poppins;
    font-size: 18px;
}
.form-rules{
    color: #fb3453;
}