<div>
    <div>
         <div>
              <div>
                  <img src="" alt="">
                  <p>Total Readers</p>
                  <div>
                    <h4>21.000</h4>
                    <p></p>
                  </div>
              </div>
              <div>
                   <img src="" alt="">
                   <p>Active Readers</p>
                   <div>
                    <h4>210</h4>
                    <p></p>
                   </div>
              </div>
         </div>
         <div>

         </div>
    </div>
    <div>
        <div>

        </div>
        <div>

        </div>
    </div>
</div>
