.bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
a{
    cursor: pointer;
}
h3{
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 10px;
}
h4{
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    margin: 0px;
}
p{
    font-size: 18px;
    margin: 0px;
    color: #00000070;
    margin: 0px 0px 0px 10px;
}
.search_box{
    padding: 20px;
    border: solid 1px #ffffffc4;
    background-color: #ebebeb;
    border-radius: 15px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 20%;
}
.search_box img{
    width: 20px;
    height: 20px;
}
input[type="search"]{
    border: none;
    background: transparent;
}
::placeholder{
    padding: 10px;
    border: none;
}
.bookcategories-row1{
    display: flex;
    flex-direction: column;
}
.bookcategories-row1 img{
    width: 250px;
    height: 350px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.774);
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 12px 0px rgba(3, 22, 190, 0.5); */
}
.book-details{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* justify-content: space-between; */
    gap: 20px;
}
.book-details-row1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* Media Queries  */
/* @media(max-width: 1200px){
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    .bookcategories-row1 img{
        width: 180px;
        height: 250px;
    }
} */
@media(max-width: 992px){
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 16px;
    }
}
@media(max-width: 768px){
    .bookcategories-row1 img{
        width: 200px;
        /* box-shadow: 0px 0px 12px 0px rgba(3, 22, 190, 0.5); */
    }
}
@media(max-width: 576px){
    .bookcategories-row1 img{
        width: 150px;
        height: 70%;
        /* box-shadow: 0px 0px 12px 0px rgba(3, 22, 190, 0.5); */
    }
}
