@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
/* Global classes  */
a{
    text-decoration: none;
    color: #FB3453;
}
h2{
    font-size: 3rem;
    font-weight: 500;
}
h4{
    font-weight: 600;
    font-size: 2.5rem;
}
h5{
    font-weight: 600;
}
/* p{
    font-size: 1.2rem;
} */
/* Form classes  */
.background_container{
    min-height: 100vh;
}
.loginForm{
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
.loginForm_col1{
    background-color: #FB3453;
    padding: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.star{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
/* .star img{
    width: ;
} */
.admin_profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.admin_profile img{
   width: 50px;
   border-radius: 50%;
}
.admin_profile div{
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.admin_profile div p{
    margin: 0px;
}    
.loginForm_col2{
    padding: 90px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    width: 60%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
label{
    font-weight: bold;
}
input{
    padding: 15px;
    background-color: #EAEAEA;
    border: none;
    border-radius: 10px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form_input{
    display: flex;
    justify-content: space-between;
}
.form_input div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.button{
    width: 100%;
    background-color: #FB3453;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
}
.register{
    display: flex;
    justify-content: center;
}
input[type="checkbox"]{
    accent-color: #FB3453;
    border: none;
    outline: 0.2rem solid #FB3453;
    width: 16px;
    height: 14px;
    cursor: pointer;
}
/* Media Queries  */
@media (max-width: 576px){
    .loginForm{
        display: flex;
        flex-direction: column;
    }
    .admin{
        display: none;
    }
    .loginForm_col1{
        width: 100%;
    }
    .loginForm_col2{
        width: 100%;
    }
}
@media (max-width: 685px){
    h2{
        font-size:  6px;
        font-weight: 300;
    }
    h4{
        font-weight: 600;
        font-size: 0.8rem;
    }
    h5{
        font-weight: 600;
    }
    p{
        font-size: 0.5rem;
    }
    label{
        font-size: 0.5rem;
    }
    form{
        gap: 10px;
    }
    input{
        padding: 6px;
    }
    .button{
        padding: 8px;
    }
    .loginForm_col1{
        padding: 15px;
    }
    .loginForm_col2{
        padding: 15px;
        gap: 10px;
    }
    .star img{
        width: 10%;
    }
    ::placeholder{
        font-size: 0.6rem;
    }
}
@media (max-width: 768px) { 
    h2{
        font-size: 2rem;
        font-weight: 500;
    }
    h4{
        font-weight: 600;
        font-size: 1.6rem;
    }
    h5{
        font-weight: 600;
    }
    p{
        font-size: 0.6rem;
    }
    label{
        font-size: 0.6rem;
    }
    form{
        gap: 15px;
    }
    input{
        padding: 8px;
    }
    .button{
        padding: 10px;
    }
    .loginForm_col1{
        padding: 50px;
    }
    .loginForm_col2{
        padding: 50px;
        gap: 15px;
    }
    .star img{
        width: 10%;
    }
    ::placeholder{
        font-size: 0.8rem;
    }
}
@media (max-width: 992px) {
    h2{
        font-size: 2.2rem;
        font-weight: 500;
    }
    h4{
        font-weight: 600;
        font-size: 1.8rem;
    }
    h5{
        font-weight: 600;
    }
    p{
        font-size: 0.8rem;
    }
    label{
        font-size: 0.8rem;
    }
    .loginForm_col2{
        gap: 15px;
    }
    form{
        gap: 15px;
    }
    input{
        padding: 8px;
    }
    .button{
        padding: 10px;
    }
    .star img{
        width: 10%;
    }
    ::placeholder{
        font-size: 0.8rem;
    }
}
@media (max-width: 1200px) { 
    h2{
        font-size: 2.4rem;
        font-weight: 500;
    }
    h4{
        font-weight: 600;
        font-size: 2rem;
    }
    h5{
        font-weight: 600;
    }
    p{
        font-size: 0.8rem;
    }
    .loginForm_col2{
        gap: 20px;
    }
    form{
        gap: 20px;
    }
    input{
        padding: 10px;
    }
    .star img{
        width: 10%;
    }
    .loginForm_col1{
        padding: 60px;
    }
    .loginForm_col2{
        padding: 60px;
    }
}
