@font-face {
    font-family: 'Poppins';
    src: url('./../assets/font-family/Poppins/Poppins-Regular.ttf');
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
ngx-ui-loader .spinner {
    border-color: pink !important; /* Change border color to pink */
}
.swal2-popup {
    font-family: 'Poppins';
}
.sidebar{
    width: 100%;
    display: flex;
}
.navbar{
    flex-grow: 1;
    width: 100%;
    max-width: 270px;
    align-items: flex-start;
    box-shadow: 2px 2px 12px  rgba(128, 128, 128, 0.308);
}
.content{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mainContainer{
    padding: 20px 20px 0px 20px;
    background-color: #eaeaea2b;
}
.login{
    display: flex;
    gap: 20px;
    width: 100%;
}
@media only screen and (max-width: 576px) {
    .navbar{
        display: none;
    }
    .mainContainer{
        padding: 10px;
    }
    .login{
        flex-direction: column;
    }
}
@media only screen and (max-width: 1200px) {
    .navbar{
        max-width: 65px;
    }
}