<header>
    <div class="search_box">
        <img src="./../../../assets/images/search_bar.png" alt="">
        <input type="search" placeholder="Search your book">
    </div>
    <div class="header_col2">
        <div class="bell_icon">
            <img src="./../../../assets/images/Vector.png" alt="">
        </div>
        <div class="header_col3">
            <img class="profile_pic" src="./../../../assets/images/pass_img.jpg" alt="">
            <div>
                <h5>Nikita</h5>
                <h6>Admin</h6>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><img src="./../../../assets/images/downarrow.png" alt="" style="width: 18px;"></button>
                <div class="dropdown-content">
                    <a href="/login">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</header>