<!-- <div class="headerContainer">
    <div class="header">
        <header>
            <div class="search_bar">
                <img src="./../../../assets/images/search_bar.png" alt="">
                <input type="search" placeholder="Search your book">
            </div>
            <div class="profile">
                <div class="bell_icon">
                    <img  src="./../../../assets/images/Vector.png" alt="">
                </div>
                <div class="profile_col2">
                    <div>
                        <img class="profile_pic" src="./../../../assets/images/pass_img.jpg" alt="">
                    </div>
                    <div>
                        <h4>Nikita</h4>
                        <p>Admin</p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div> -->
<header>
    <div class="search_box">
        <img src="./../../../assets/images/search_bar.png" alt="">
        <input type="search" placeholder="Search your book">
    </div>
    <div class="header_col2">
        <div class="bell_icon">
            <img  src="./../../../assets/images/Vector.png" alt="">
        </div>
        <div class="header_col3">
            <div class="img_container">
                <img class="profile_pic" src="./../../../assets/images/pass_img.jpg" alt="">
            </div>
            <div>
                <h4>Nikita</h4>
                <p>Admin</p>
            </div>
        </div>
    </div>
</header>
