<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <h4>Sign Up</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ducimus? Velit et a modi nobis.</p>
        <form [formGroup]="registerform" (ngSubmit)="onRegister()" class="form-control" id="registerForm">
            <div>
                <div class="form-label">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="{{this.registerform.value.username}}"
                        formControlName="username" aria-describedby="emailHelp" placeholder="Enter your User name"
                        required>
                        <p></p>
                </div>
            </div>
            <div *ngIf="registerform.controls['username'].invalid && (registerform.controls['username'].dirty || registerform.controls['username'].touched)">
                <div *ngIf="registerform.controls['username'].errors?.['required']; ">
                    <div class="form-validation form-rules">User name is required.</div>
                </div>
                <div *ngIf="registerform.controls['username'].errors?.['pattern'];">
                    <div class="form-validation form-rules">Username must be alphanumeric and 8 to 15 characters long.</div>
                </div>
                <!-- <div *ngIf="registerform.controls['username'].errors?.['minlength'];">
                    <div class="form-validation form-rules">Username must be eight to fifteen characters long.</div>
                </div>
                <div *ngIf="registerform.controls['username'].errors?.['maxlength'];">
                    <div class="form-validation form-rules">Username must be eight to fifteen characters long.</div>
                </div> -->
            </div>
            <div>
                <div class="form-label">
                    <label for="mail">Email id</label>
                    <input type="mail" class="form-control" name="mail" id="mail"
                        formControlName="mail" aria-describedby="emailHelp" placeholder="Enter your email"
                        required>
                </div>
            </div>
            <div
                *ngIf="registerform.controls['mail'].invalid && (registerform.controls['mail'].dirty || registerform.controls['mail'].touched)">
                <div class="form-validation form-rules" *ngIf="registerform.controls['mail'].errors?.['required']">Email Id is
                    required.</div>
                    <!-- <div class="form-validation form-rules" *ngIf="registerform.controls['mail'].errors">Email must be a valid email
                        address</div> -->
                <div class="form-validation form-rules" *ngIf="registerform.controls['mail'].errors?.['pattern']">Email must be a valid email
                    address</div>
            </div>
            <div>
                <div class="form-label">
                    <label for="contact">Phone No.</label>
                    <input type="number" class="form-control" name="contact" id="contact"
                        formControlName="contact" aria-describedby="emailHelp" placeholder="Enter your Contact number"
                        required>
                </div>
                <div
                *ngIf="registerform.controls['contact'].invalid && (registerform.controls['contact'].dirty || registerform.controls['contact'].touched)">
                <div class="form-validation form-rules" *ngIf="registerform.controls['contact'].errors?.['required']">Contact number is
                    required.</div>
                <div class="form-validation form-rules" *ngIf="registerform.controls['contact'].errors?.['pattern']">Please enter valid contact
                    number</div>
            </div>
            </div>
            <button type="submit" class="button" >Send OTP</button>
            <p style="text-align: center; margin-top: 10px;" >Already Registered? <a href="/login"> <span
                style="color: #fb3453; font-weight: bold; cursor: pointer;">Sign In</span></a></p>
        </form>
    </div>
</div>