.bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
/* Form Classes starts */
.form{
    display: flex;
    justify-content: space-between;
}
.form-elements{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 48%;
}
label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
input{
    margin-top: 5px;
    width: 96%;
    border: none;
    background: #EAEAEA;
    border-radius: 10px;
    padding: 15px;
}
select{
    width: 100%;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background: #EAEAEA;
    padding: 15px;
}
textarea{
    width: 98%;
    border: none;
    border-radius: 10px;
    background: #EAEAEA;
    padding: 15px;
}
.button{
    display: flex;
    justify-content: center;
}
.submit{
    width: 10%;
    color: white;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fb3453;
}
::placeholder{
    font-size: 16px;
}
/* Table classes starts  */
.table-section{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
 }
 /* .table-container{
     overflow-x: auto;
 } */
 table{
     border-radius: 10px;
     border: solid 1px #EAEAEA;
     border-collapse: separate;
     padding: 10px;
     border-spacing: 0px 10px;
     height: 90%;
     width: 100%;
 }
 tr{
    width: 100%;
 }
 td,th{
     border-style: none;
     text-align: left;
     vertical-align: center;
 }
 .table-head{
     display: flex;
     justify-content: space-between;
 }
 .table-button{
     display: flex;
     gap: 20px;
     align-items: center;
 }
 .table-button a {
     background-color: #fb34521e;
     border-radius: 5px;
     padding: 10px 20px;
 }
 .reader-name{
     display: flex;
     /* justify-content: center; */
     align-items: center;
     gap: 20px;
     width: 100%;
     height: 100%;
 }
 .reader-name img{
     width: 60px;
     height: 60px;
     border-radius: 10px;
     object-fit: cover;
     object-position:  start;
     border-radius: 50%;
 }