@font-face {
    font-family: 'Poppins';
    src: url('./../../../../assets/font-family/Poppins/Poppins-Regular.ttf');
}
/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
} */
h4{
    font-size: 30px;
    margin: 0px;
}
h5{
    font-size: 18px;
    margin: 0px;
    font-weight: 200;
}
h6{
    font-size: 25px;
    margin: 0px;
    font-weight: 200;
}
a{
    text-decoration: none;
    margin: 0px;
    text-align: center;
    cursor: pointer;
}
p{
    font-size: 20px;
    margin: 0px;
}
.bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    display: flex;
    /* justify-content: space-between; */
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    gap: 100px;
    min-height: (90vh, 90%);
}
/* Form Classes starts */
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
}
.form-col1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 48%;
}
.book-details{
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
}
.book-details-col1, .book-details-col2{
    width: 45%;
}
.form-col2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 48%;
}
.bookcategory-img{
    display: flex;
    width: 250px;
}
.bookcategory-img img{
    width: 250px;
    height: 200px;
}
.img-container{
    display: flex;
}
label{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}
/* .file {
    width: 35%;
    text-align: center;
    background-color: #fb3453;
    padding: 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
} */

input{
    margin-top: 5px;
    width: 294px;
    border: solid 2px black;
    font-size: 16px;
    background: transparent;
    /* border-bottom: solid 2px black; */
    font-family: Poppins;
    color: black;
    /* border-radius: 10px; */
    padding: 15px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
/* input[type="file"]::file-selector-button{
  border: none;
  width: 150px;
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  font-family: Poppins;
  cursor: pointer;
} */
input[type="submit"]{
    padding: 15px;
    border: none;
    background-color: #fb3453;
    color: white;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 18px;
}
.file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    width: 350px;
    padding: 15px 0px;
    border-radius: 5px;
}
  
  .file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .custom-file-upload {
    display: inline-block;
    cursor: pointer;
    width: 130px;
    padding: 10px;
    border: 1px solid #68a900;
    border-radius: 5px;
    color: white;
    background-color: #68a900;;
}
.custom-file-upload span{
    font-size: 18px;
}
.book-category-image{
    display: flex;
    /* flex-direction: column; */
    gap: 40px;
    /* justify-content: space-between; */
    /* width: 700px; */
}
.book-category-image div{
    /* display: flex; */
    margin: solid 2px black;
    /* flex-direction: column; */
    gap: 10px;
}
.type{
    display: flex;
    align-items: center;
    width: 500px;
}
.type-col2{
    width: 45%;
}
select{
    margin-top: 5px;
    width: 296px;
    border: solid 2px black;
    font-size: 16px;
    background: transparent;
    /* border-bottom: solid 2px black; */
    font-family: Poppins;
    color: black;
    /* border-radius: 10px; */
    padding: 15px;
}
option{
    color: black;
    background-color: white;
    font-family: Poppins;
    font-size: 20px;
    padding: 10px;
}
textarea{
    border: none;
    width: 630px;
    font-family: Poppins;
    font-size: 18px;
    color: black;
    background: transparent;
    border: solid 2px black;
    padding: 15px;
}
.button{
    display: flex;
    justify-content: center;
}
.submit{
    width: 160px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #fb3453;
}
::placeholder{
    font-size: 16px;
    color: black;
    font-family: Poppins;
    font-size: 18px;
}
/* Table classes starts  */
/* .table-container{
    overflow: scroll;
    overflow-y: hidden;
}
.table-container::-webkit-scrollbar {
  width: 6px;
  scrollbar-width: thin;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background: #fb3453;
  border-radius: 10px;
} */
.table-section{
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}
table{
    border-radius: 10px;
    border: solid 1px #EAEAEA;
    border-collapse: separate;
    padding: 10px;
    border-spacing: 0px 10px;
    height: 90%;
    width: 100%;
}
tr{
   width: 100%;
}
th{
    font-size: 20px;
    border-style: none;
    text-align: left;
    vertical-align: center;
}
td{
    font-size: 18px;
    border-style: none;
    text-align: left;
    vertical-align: center;
}
.table-head{
    display: flex;
    justify-content: space-between;
}
.table-button{
    display: flex;
    gap: 20px;
    align-items: center;
}
.table-button a {
    background-color: #fb34521e;
    border-radius: 5px;
    padding: 10px 20px;
}
.reader-name{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.reader-name img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    object-position:  start;
    border-radius: 50%;
}
/* .edit-btn{
    border-radius: 5px;
    padding: 14px 12px;
    width: 80px;
    background-color: #fb34523b;
 }
 .delete-btn{
    background-color: #68a9004f;
    width: 80px;
    border-radius: 5px;
    padding: 14px 12px;
 } */
 h4{
    margin: 0px;
 }
 p{
    margin: 0px;
 }
 .editbook-page{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 10px;
 }
 .book-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
.book-img img{
    width: 100px;
}
 .book-img{
    display: flex;
    justify-content: space-between;
 }
 .book-img-height img{
    width: 80px;
    height: 90%;
    border-radius: 10px;
 }
 .btn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
 }
 button{
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #fb3453;
    color: white;
    cursor: pointer;
 }
 .form-rules{
    color: #fb3453;
 }
 .vertical {
    border-left: 3px solid #fb34523f;
    border-radius: 10px;
    height: 570px;
    position: absolute;
    left: 58%;
}
/* Form Image Container classes starts  */
/* 
.form-image-container img{
    display: flex;
    width: 80%;
} */
.form-image-container{
   display: flex;
   flex-direction: column;
   align-items: space-around;
   justify-content: space-around;
}
.avatar{
    border: solid 1px;
    opacity: 0.8;
    color: grey;
    width: 500px;
    height: 70%;
}
.image-shadow{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342), 0 6px 20px 0 rgba(0, 0, 0, 0.342); */
    /* height: 400px; */
}
.image-shadow img{
    width: 300px;
    height: 400px;
}