@font-face {
    font-family: 'Poppins';
    src: url('./../../../../assets/font-family/Poppins/Poppins-Regular.ttf');
}
/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
} */
.bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
}
/* Form Classes starts */
.form{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    gap: 20px;
}
.form-col1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 48%;
}
.book-price-details{
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
}
/* .book-price-details div{
    width: 47%;
} */
.form-col2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 55%;
}
.type{
    display: flex;
    margin-top: 4px;
    gap: 20px;
}
.img-container{
    display: flex;
}
label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
/* .file {
    width: 35%;
    text-align: center;
    background-color: #fb3453;
    padding: 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
} */

input[type="text"]{
    margin-top: 5px;
    width: 94%;
    border: none;
    background: transparent;
    border-bottom: solid 1px black;
    font-family: Poppins;
    /* border-radius: 10px; */
    padding: 15px;
}
input[type="file"]::file-selector-button{
  border: none;
  width: 160px;
  color: white;
  background-color: #fb3453;
  padding: 15px;
  border-radius: 10px;
  font-family: Poppins;
  cursor: pointer;
}
select{
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: Poppins;
    /* border-radius: 10px; */
    background: transparent;
    border-bottom: solid 1px black;
    padding: 15px;
}
option{
    color: black;
    background-color: white;
    font-family: Poppins;
    font-size: 20px;
    padding: 10px;
}
/* option:hover{
    background: #fb3453;
    color: red;
} */
textarea{
    width: 98%;
    border: none;
    margin-top: 20px;
    /* border-radius: 10px; */
    background: transparent;
    border: solid 1px black;
    padding: 15px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit{
    width: 160px;
    color: white;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #fb3453;
}
::placeholder{
    font-size: 16px;
    /* border: solid 1px #fb3453; */
    color: black;
    font-family: Poppins;
}
/* Table classes starts  */
.table-section{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
 }
 /* .table-container{
     overflow-x: auto;
 } */
 table{
     border-radius: 10px;
     border: solid 1px #EAEAEA;
     border-collapse: separate;
     padding: 10px;
     border-spacing: 0px 10px;
     height: 90%;
     width: 100%;
 }
 tr{
    width: 100%;
 }
 td,th{
     border-style: none;
     text-align: left;
     vertical-align: center;
 }
 .table-head{
     display: flex;
     justify-content: space-between;
 }
 .table-button{
     display: flex;
     gap: 20px;
     align-items: center;
 }
 .table-button a {
     background-color: #fb34521e;
     border-radius: 5px;
     padding: 10px 20px;
 }
 .reader-name{
     display: flex;
     /* justify-content: center; */
     align-items: center;
     gap: 20px;
     width: 100%;
     height: 100%;
 }
 .reader-name img{
     width: 60px;
     height: 60px;
     border-radius: 10px;
     object-fit: cover;
     object-position:  start;
     border-radius: 50%;
 }

 .bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
 h4{
    margin: 0px;
 }
 p{
    margin: 0px;
 }
 .editbook-page{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 10px;
 }
 .book-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .book-details{
    display: flex;
    justify-content: space-between;
 }
.book-img img{
    width: 100px;
}
 .book-img{
    display: flex;
    justify-content: space-between;
 }
 .book-img-height img{
    width: 80px;
    height: 90%;
    border-radius: 10px;
 }
 .btn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
 }
 button{
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #fb3453;
    color: white;
    cursor: pointer;
 }