<div class="bk-shadow">
    <form [formGroup]="addBookForm" (ngSubmit)="onAddBook()" class="form-control" enctype="multipart/form-data">
        <h4>Add New Book</h4>
        <div class="form">
            <div class="form-col1">
                <div class="book-details">
                    <div style="display: flex; flex-direction: column; gap: 10px;">
                        <div>
                            <input class="form-control" formControlName="bookname" type="text" name="bookname"
                            maxlength="20" placeholder="Enter Book name *">
                        </div>
                        
                        <div *ngIf="addBookForm.controls['bookname'].invalid && (addBookForm.controls['bookname'].dirty || addBookForm.controls['bookname'].touched)">
                               <div *ngIf="addBookForm.controls['bookname'].errors?.['required']; ">
                                   <div class="form-validation form-rules">Required Field.</div>
                               </div>
                               <div *ngIf="addBookForm.controls['bookname'].errors?.['pattern']; ">
                                   <div class="form-validation form-rules">Name must be aplhanumeric.</div>
                               </div>
                               <div *ngIf="addBookForm.controls['bookname'].errors?.['minlength']; ">
                                   <div class="form-validation form-rules">Name must be 3 to 20 characters long.</div>
                               </div>
                               <div *ngIf="addBookForm.controls['bookname'].errors?.['maxlength']; ">
                                   <div class="form-validation form-rules">Name must be 3 to 20 characters long</div>
                               </div>
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: column; gap: 10px">
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <label for="file" class="custom-file-upload">
                                <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                                <input type="file" id="file" name="file" (change)="onFileSelected($event, 'bookimg')"
                                    formControlName="bookimg" style="display: none;" required>
                            </label>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <!-- <i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> -->
                                <p>{{ addBookForm.get('bookimg')?.value ? addBookForm.get('bookimg')?.value?.name : '' }}</p>
                            </div>
                        </div>
                        
                        
                        <div *ngIf="addBookForm.controls['bookimg'].invalid && (addBookForm.controls['bookimg'].dirty || addBookForm.controls['bookimg'].touched)">
                            <div *ngIf="addBookForm.controls['bookimg'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                            <div *ngIf="addBookForm.controls['bookimg'].errors?.['extension']; ">
                                <div class="form-validation form-rules">Invalid image format, Accepted format is .png, .jpg,
                                    .jpeg</div>
                            </div>
                            <div *ngIf="addBookForm.controls['bookimg'].errors?.['fileSize']; ">
                                <div class="form-validation form-rules">Image size should be less than 5mb</div>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="book-details">
                    <div>
                        <input class="form-control" formControlName="booksellingprice" type="number" inputmode="numeric"
                            name="booksellingprice" placeholder="Enter Book Selling Price *">
                        <div
                            *ngIf="addBookForm.controls['booksellingprice'].invalid && (addBookForm.controls['booksellingprice'].dirty || addBookForm.controls['booksellingprice'].touched)">
                            <div *ngIf="addBookForm.controls['booksellingprice'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="form-control" formControlName="bookcostprice" type="number" inputmode="numeric"
                            name="bookcostprice" placeholder="Enter Book Cost Price *">
                        <div
                            *ngIf="addBookForm.controls['bookcostprice'].invalid && (addBookForm.controls['bookcostprice'].dirty || addBookForm.controls['bookcostprice'].touched)">
                            <div *ngIf="addBookForm.controls['bookcostprice'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="book-details">
                    <div>
                        <input class="form-control" maxlength="40" formControlName="bookwriter" type="text" name="booktype"
                            placeholder="Enter Book Writer Name">
                        <div style="margin-top: 10px;"
                            *ngIf="addBookForm.controls['bookwriter'].invalid && (addBookForm.controls['bookwriter'].dirty || addBookForm.controls['bookwriter'].touched)">
                            <div *ngIf="addBookForm.controls['bookwriter'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                            <div *ngIf="addBookForm.controls['bookwriter'].errors?.['pattern']; ">
                                <div class="form-validation form-rules">Invalid Name</div>
                            </div>
                            <div *ngIf="addBookForm.controls['bookwriter'].errors?.['minlength']; ">
                                <div class="form-validation form-rules">Name must be 3 to 20 characters long.</div>
                            </div>
                            <div *ngIf="addBookForm.controls['bookwriter'].errors?.['maxlength']; ">
                                <div class="form-validation form-rules">Name must be 3 to 20 characters long.</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="form-control" formControlName="publishyear" type="number" inputmode="numeric"
                            name="publishyear" placeholder="Enter Publish Year *">
                        <div  style="margin-top: 10px;"
                            *ngIf="addBookForm.controls['publishyear'].invalid && (addBookForm.controls['publishyear'].dirty || addBookForm.controls['publishyear'].touched)">
                            <div *ngIf="addBookForm.controls['publishyear'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-col2">
                <div class="book-details">
                    <div class="type-col1">
                        <select name="bookcategory" id="bookcategory" (click)="getBookCategory()"
                            (change)="getBookCategoryImage()" formControlName="bookcategories">
                            <option disabled selected value="">Select Category *</option>
                            <option *ngFor="let bookcategory of bookcategories" [ngValue]="bookcategory.name">{{
                                bookcategory.name }}
                            </option>
                        </select>
                        <div  style="margin-top: 10px;"
                            *ngIf="addBookForm.controls['bookcategories'].invalid && (addBookForm.controls['bookcategories'].dirty || addBookForm.controls['bookcategories'].touched)">
                            <div *ngIf="addBookForm.controls['bookcategories'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="type-col1">
                        <select name="booktype" id="booktype" (click)="getBookType()" (change)="getBookTypeImage()"
                            formControlName="booktype">
                            <option disabled selected value="">Select Type *</option>
                            <option *ngFor="let booktype of booktypes" [ngValue]="booktype.name">
                                {{ booktype.abbrev }}
                            </option>
                        </select>
                        <div  style="margin-top: 10px;"
                            *ngIf="addBookForm.controls['booktype'].invalid && (addBookForm.controls['booktype'].dirty || addBookForm.controls['booktype'].touched)">
                            <div *ngIf="addBookForm.controls['booktype'].errors?.['required']; ">
                                <div class="form-validation form-rules">Required Field.</div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="type">
                    <div class="type-col1">
                        <input type="hidden" formControlName="bookcategoryimg" [ngModel]="selectedCategoryImagePath">
                        <input type="hidden" formControlName="booktypeimg" [ngModel]="selectedTypeImagePath">
                    </div>
                    <!-- <div class="type-col2">
                        <div formControlName="booktypeimg">    
                        </div>
                    </div> -->
                </div>
            </div>
             
            <div class="book-category-image">
                <div style="display: flex; flex-direction: column;">
                    <div style="border: solid 2px black; padding: 15px;">
                        <h5 *ngIf="selectedCategoryImage; else elseCategoryBlock">{{selectedCategoryImage}}</h5>
                        <ng-template #elseCategoryBlock>Category Image *</ng-template>
                     </div>
                     <div *ngIf="addBookForm.controls['bookcategoryimg'].invalid && (addBookForm.controls['bookcategoryimg'].dirty || addBookForm.controls['bookcategoryimg'].touched)">
                         <div *ngIf="addBookForm.controls['bookcategoryimg'].errors?.['required']; ">
                             <div class="form-validation form-rules">Required Field.</div>
                         </div>
                     </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div style="border: solid 2px black; padding: 15px;">
                        <h5 *ngIf="selectedTypeImage;  else elseTypeBlock">{{selectedTypeImage}}</h5>
                        <ng-template #elseTypeBlock>Type Image *</ng-template>
                     </div>
                     <div *ngIf="addBookForm.controls['booktypeimg'].invalid && (addBookForm.controls['booktypeimg'].dirty || addBookForm.controls['booktypeimg'].touched)">
                         <div *ngIf="addBookForm.controls['booktypeimg'].errors?.['required']; ">
                             <div class="form-validation form-rules">Required Field.</div>
                         </div>
                     </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: column; gap: 10px;">
                <textarea name="summary" id="" cols="30" rows="4" formControlName="summary"  maxlength="256"    
                    placeholder="Enter Book Summary *"></textarea>
                <div
                    *ngIf="addBookForm.controls['summary'].invalid && (addBookForm.controls['summary'].dirty || addBookForm.controls['summary'].touched)">
                    <div *ngIf="addBookForm.controls['summary'].errors?.['required']; ">
                        <div class="form-validation form-rules">Required Field.</div>
                    </div>
                    <div *ngIf="addBookForm.controls['summary'].errors?.['maxlength']; ">
                        <div class="form-validation form-rules">Summary should be less than 257 alphabets.</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div class="button">
            <input type="submit" name="submit" value="Submit" (click)="showTable=true" class="submit">
        </div>
    </form>
    <!-- <div class="vertical"></div> -->
    <div class="form-image-container">
        <div class="image-shadow">
            <h6 *ngIf="selectedCategoryImage">Category Image</h6>
            <img *ngIf="selectedCategoryImage" [src]="environment +'uploads/' + selectedCategoryImage" alt="">
        </div>
        <div class="image-shadow">
            <h6 *ngIf="selectedTypeImage">Type Image</h6>
            <img *ngIf="selectedTypeImage" [src]="environment +'uploads/' + selectedTypeImage" alt="">
        </div>
    </div>
</div>