<div class="editcategoryform bk-shadow" id="categoryform">
    <form [formGroup]="editcategoryform" (ngSubmit)="onEditingCategory()" class="form-control" id="categoryform"  enctype="multipart/form-data">
        <label for="category">Category Name</label><br>
        <input type="text" class="form-control" name="category" id="category"  formControlName="category" placeholder="Enter category name" required>
        <div *ngIf="editcategoryform.controls['category'].invalid && (editcategoryform.controls['category'].dirty || editcategoryform.controls['category'].touched)">
            <div class="form-validation form-rules" *ngIf="editcategoryform.controls['category'].errors?.['required']">Category name is
                required.</div>
        </div>
        <h5 style="font-size: 22px; margin: 10px 0px 10px 0px; font-weight: 500;">Image</h5>
        <img *ngIf="editcategoryform.get('image')?.value" [src]="environment+bookcategoryimg" alt="Category Image" style="max-width: 100px; max-height: 100px;">
        
        <div style="display: flex; gap: 10px;">
            <label for="image" class="custom-file-upload" style="display: flex;flex-direction: coluumn;align-items: center;justify-content: center; text-align: center;">
                <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                <input type="file" id="image" name="image" formControlName="image" style="display: none;" required>
            </label>
            <p *ngIf="editcategoryform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> {{getImageFileName() }}</p>
        </div>
        <!-- <input class="form-control file" id="image" (change)="onFileChange($event)"
            formControlName="image" type="file" name="image"><br><br> 
            <span
            class="file-name">{{ getImageFileName() }}</span> -->
        <!-- <label for="image">Upload Image</label>
        <input type="file" class="form-control" name="image" id="image" (change)="onFileChange($event)" formControlName="image" required> -->
        <input type="submit" value="Update">
    </form>
</div>
