<div class="editcategoryform bk-shadow" id="categoryform">
    <form [formGroup]="editcategoryform" (ngSubmit)="onEditingCategory()" class="form-control" id="categoryform"  enctype="multipart/form-data">
        <div class="form-col1">
            <div class="form-col1-details">
                <h4>Update Category</h4>
                <div>
                    <label for="category">Category Name</label><br>
                    <input type="text" class="form-control" name="category" id="category"  formControlName="category" placeholder="Enter category name" required>
                    <div *ngIf="editcategoryform.controls['category'].invalid && (editcategoryform.controls['category'].dirty || editcategoryform.controls['category'].touched)">
                        <div class="form-validation form-rules" *ngIf="editcategoryform.controls['category'].errors?.['required']">Category name is
                            required.</div>
                        <div class="form-validation form-rules" *ngIf="editcategoryform.controls['category'].errors?.['pattern']">Name must be alphanumeric.</div>
                        <div class="form-validation form-rules" *ngIf="editcategoryform.controls['category'].errors?.['minlength']">Name must be 6 to 20 characters long</div>
                        <div class="form-validation form-rules" *ngIf="editcategoryform.controls['category'].errors?.['maxlength']">Name must be 6 to 20 characters long</div>
                    </div>
                </div>
                <div>
                    <h5 style="font-size: 22px; margin: 0px;font-weight: 500;">Image</h5>
                    <div style="display: flex; gap:20px">
                       <label for="image" class="custom-file-upload">
                           <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                           <input type="file" id="image" name="image" (change)="onFileChange($event)"  formControlName="image" style="display: none;" required>
                       </label>
                       <p *ngIf="editcategoryform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> {{getImageFileName() }}</p>
                    </div>
                    <div *ngIf="editcategoryform.get('image')?.invalid && (editcategoryform.get('image')?.dirty || editcategoryform.get('image')?.touched)">
                       <div class="form-validation form-rules" *ngIf="editcategoryform.get('image')?.errors?.['required']">Please upload an image.</div>
                       <div class="form-validation form-rules" *ngIf="editcategoryform.get('image')?.errors?.['extension']">Invalid image format, Accepted format: .jpg, .jpeg, .png, .gif.</div>
                       <div class="form-validation form-rules" *ngIf="editcategoryform.get('image')?.errors?.['fileSize']">Image size should be less than 5 mb.</div>
                    </div>
                </div>
            </div>
            <div class="image-preview">
                <img *ngIf="!selectedFile && editcategoryform.get('image')?.value" [src]="getImageUrl()" alt="Category Image">
                <img *ngIf="selectedFile" [src]="getImageUrl()" alt="Uploaded Image">
            </div>
        </div>
        <div class="button"> 
            <input type="submit" value="Update">
        </div>
    </form>
    
</div>
