/* Global Classes starts  */
h4{
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}
h5{
    font-weight: bold;
}
h6{
    font-size: 19px;
    color: #FB3453;
}
a{
    text-decoration: none;
    color: #FB3453;
}
p, s{
    color: rgba(0, 0, 0, 0.486);
}
/* Global Classes ends  */
/* Book Description classes starts  */
.bookdescription{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.bookdescription_sec1{
    display: flex;
    gap: 40px;
    height: 100%;
}
.bookimg{
    width: 20%;
}
.bookdescription_sec1_col2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}
.writerDetails{
    display: flex;
    gap: 10px;
}
span{
    font-weight: bold;
    color: black;
}
.star{
    display: flex;
    gap: 15px;
}
.price{
    display: flex;
    gap: 20px;
}
button{
    border: none;
    background-color: #FB3453;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 20%;
}
.bookDetail{
    display: flex;
    gap: 20px;
}
.active{
    color: #FB3453;
}
.book_section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.book_list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.book_section_row2{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 20px;
    /* width: 100%; */
}
.book_frame {
    width: 15%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.book_frame img{
    width: 100%;
}
/* Book Description classes ends  */
/* Media Queries starts  */
@media (max-width: 576px) { 
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 16px;
    }
    h6{
        font-size: 10px;
    }
    p{
        font-size: 8px;
    }
    .bookdescription_sec1{
        flex-direction: column;
    }
    .bookdescription{
        gap: 20px;
    }
    .book_frame{
        width: 40%;
    }
    button{
        padding: 10px;
    }
}
@media (max-width: 768px) { 
    h4{
        font-size: 27px;
    }
    h5{
        font-size: 16px;
    }
    h6{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    .bookdescription_sec1{
        flex-direction: column;
    }
    .bookdescription{
        gap: 20px;
    }
    button{
        padding: 10px;
    }
}
@media (max-width: 992px) { 
    h4{
        font-size: 30px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }
    p{
        font-size: 15px;
    }
    button{
        width: 40%;
    }
}
@media (max-width: 1200px) { 
    .bookimg{
        width: 40%;
        height: 30%;
    }
}