<div class="bookdescription">
    <div class="bookdescription_sec1">
        <img [src]="bookDetails.img" class="bookimg" alt="">
        <div class="bookdescription_sec1_col2">
             <h4>{{bookDetails.bookName}}</h4>
             <div class="writerDetails">
                <p>By: <span>{{bookDetails.writerName}}</span></p>
                <p>|</p>
                <p>Published: <span>{{bookDetails.publishyear}}</span></p>
             </div>
             <div class="star">
                <img src="./../../../assets/images/star1.png" alt="">
                <img src="./../../../assets/images/star1.png" alt="">
                <img src="./../../../assets/images/star1.png" alt="">
                <img src="./../../../assets/images/star1.png" alt="">
                <img src="./../../../assets/images/star1.png" alt="">
             </div>
             <div class="price">
                 <h6>${{bookDetails.sellingprice}}</h6>
                 <h6><s>${{bookDetails.costprice}}</s></h6>
             </div>
             <button>Read This Book</button>
             <div>
                <div class="bookDetail">
                    <a href="" class="active">Book Summary</a>
                    <a href="">About the Author</a>
                </div>
                <div>
                    <p>{{bookDetails.booksummary}}</p>
                </div>
             </div>
        </div>
    </div>
    <div class="bookdescription_sec2">
        <div class="book_section">
            <div class="book_list">
                <h5>Related Books</h5>
                <a href="">View All</a>
            </div>
            <div class="book_section bk_shadow">
                <div class="book_section_row2">
                      <div class="book_frame" *ngFor="let book of books">
                        <a  [routerLink]="['/bookdescription/', book.id]"><img [src]="book.img" alt="Card image cap"></a>
                        <div class="">
                          <h5 class="">{{book.bookName}}</h5>
                          <p class="writer_name">{{book.writerName}}</p>
                          <p class="price">{{book.price}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
