<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <h4>Update Password</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore nisi odit quo fugit reprehenderit?</p>

        <!-- OTP form  -->
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdate()" class="form-control" id="updatePasswordForm">
            <div class="form-label">
                <label for="password">Enter Password</label>
                <input type="password" class="form-control" name="password" id="password" formControlName="password"
                    aria-describedby="emailHelp" placeholder="Enter Password">
                    <div
                        *ngIf="updatePasswordForm.controls['password'].invalid && (updatePasswordForm.controls['password'].dirty || updatePasswordForm.controls['password'].touched)">
                        <div class="form-validation form-rules" *ngIf="updatePasswordForm.controls['password'].errors?.['required']">Password
                            required.</div>
                        <div class="form-validation form-rules" *ngIf="updatePasswordForm.controls['password'].errors?.['minlength']">Password
                            must be greather than
                            eight alphabets.</div>
                    </div>
                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" formControlName="confirmpassword"
                   aria-describedby="emailHelp" placeholder="Confirm Password">
                   <div
                   *ngIf="updatePasswordForm.controls['confirmpassword'].invalid && (updatePasswordForm.controls['confirmpassword'].dirty || updatePasswordForm.controls['confirmpassword'].touched)">
                   <div class="form-validation form-rules" *ngIf="updatePasswordForm.controls['confirmpassword'].errors?.['required']">Password required.</div>
              </div>
              <div class="form-validation form-rules" *ngIf="updatePasswordForm.errors?.['mismatch'] && updatePasswordForm.get('confirmpassword')?.touched">Password must match</div>
                <!-- <a>Submit</a> -->
            </div>
            <div>
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>