<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <h4>Update Password</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore nisi odit quo fugit reprehenderit?</p>

        <!-- OTP form  -->
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdate()" class="form-control" id="updatePasswordForm">
            <div class="form-label">
                <label for="password">Enter Password</label>
                <input type="password" class="form-control" name="password" id="password" formControlName="password"
                    aria-describedby="emailHelp" placeholder="Enter Password">
                <input type="password" class="form-control" name="confirmpassword" id="password" formControlName="confirmpassword"
                   aria-describedby="emailHelp" placeholder="Confirm Password">
                <!-- <a>Submit</a> -->
            </div>
            <div>
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>