<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <div class="back-button">
            <i (click)="onBack()" class="fas fa-arrow-left" style="color: black;cursor: pointer;"></i>
            <h4>Update Password</h4>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore nisi odit quo fugit reprehenderit?</p>

        <!-- OTP form  -->
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdate()" class="form-control" id="updatePasswordForm">
            <div class="form-label">
                <label for="password">Enter Password</label>
                <div class="input-group" style="display: flex; align-items: center;">
                    <input type="password" class="form-control" style="width: 100%;" name="password" id="password" formControlName="password"
                        aria-describedby="emailHelp" placeholder="Enter Password">
                        <span class="toggle-password" (click)="togglePasswordVisibility()">
                            <i class="far fa-eye"></i>
                          </span>
                
                </div>
                <div
                *ngIf="updatePasswordForm.controls['password'].invalid && (updatePasswordForm.controls['password'].dirty || updatePasswordForm.controls['password'].touched)">
                <div class="form-validation form-rules" *ngIf="updatePasswordForm.controls['password'].errors?.['required']">Password is required.</div>
                <div class="form-validation" *ngIf="updatePasswordForm.controls['password'].errors?.['pattern']">
                    <p class="form-rules" *ngIf="updatePasswordForm.controls['password'].errors?.['pattern']">
                        Please ensure your password contains at least one uppercase letter, one number, one special character and must be 8 to 20 characters long. 
                    </p>
                    <p class="form-rules" *ngIf="updatePasswordForm.controls['password'].errors?.['minlength']">
                        Please ensure your password has a length between 8 and 20 characters.
                    </p>
                </div>
            </div>
                    <div class="input-group" style="display: flex; align-items: center;">
                        <input type="password" class="form-control" style="width: 100%;" name="confirmpassword" id="confirmpassword" formControlName="confirmpassword"
                           aria-describedby="emailHelp" placeholder="Confirm Password">
                           <span class="toggle-confirmpassword" (click)="toggleConfirmPasswordVisibility()">
                            <i class="far fa-eye"></i>
                          </span>

                    </div>
                   <div
                   *ngIf="updatePasswordForm.controls['confirmpassword'].invalid && (updatePasswordForm.controls['confirmpassword'].dirty || updatePasswordForm.controls['confirmpassword'].touched)">
                   <div class="form-validation form-rules" *ngIf="updatePasswordForm.controls['confirmpassword'].errors?.['required']">Password is required.</div>
              </div>
              <div class="form-validation form-rules" *ngIf="updatePasswordForm.errors?.['mismatch'] && updatePasswordForm.get('confirmpassword')?.touched">Password must match</div>
                <!-- <a>Submit</a> -->
            </div>
            <div>
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>