@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
button{
    border: none;
    background-color: #fb3452;
    color: white;
}
a{
    text-decoration: none;
    color: #fb3452;
}
h5{
    font-size: 20px;
}
.mainContainer{
    font-family: 'Poppins', sans-serif;
    
    overflow-y: scroll;
}
.Container{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px;
}
.image_slider_container{
    /* width: 58%; */
}
.slider{
    display: flex;
    background-color: #fb3452;
    padding: 20px;
    border-radius: 20px;
}
.slider img{
    width: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.graph_container{
    /* width: 38%; */
}

.book_list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.writer_name{
    color: #0000006c;
}
.price{
    color: #fb3452;
    font-weight: 600;
}
.book_section{
    padding: 20px;
}
.book_section_row2{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 20px;
    /* width: 100%; */
}
.book_frame {
    width: 15%;
    flex-shrink: 0;
}
.book_frame img{
    width: 100%;
}
.table_section{
    padding: 20px;
}
table{
    width: 100%;
}
/* Media queries  */
@media (max-width: 576px) {
    h5{
        font-size: px;
    }
    p{
      font-size: 6px;
    }
    th{
        font-size: 12px
    }
    td{
        font-size: 10px;
    }
    .book_frame {
        width: 25%; 
    }
   
}
@media (max-width: 768px) {
    h5{
        font-size: 8px;
    }
    p{
      font-size: 10px;
    }
    th{
        font-size: 12px
    }
    td{
        font-size: 10px;
    }
    .book_frame {
        width: 25%; 
    }
}
@media (max-width: 992px) { 
   button{
    width: 50%;
   }
   h5{
    font-size: 12px;
   }
   p{
     font-size: 10px;
   }
   .book_frame {
    width: 25%; 
}
}
@media (max-width: 1200px) { 
    h5{
     font-size: 16px;
    }
    p{
      font-size: 14px;
    }
 }