<div class="bookpage">
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Category</h4>
            <a href="">View All</a>
        </div>
        <div class="bookcontainer-row2">
            <div class="bookdes" *ngFor="let book of books"><img (click)="onClick(book.category)" [src]="environment+book.bookcat_img" alt="">
                <div class="">
                    <p class="">{{book.category}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Type</h4>
            <a href="">View All</a>
        </div>
        <div class="bookcontainer-row2">
            <div class="bookdes" *ngFor="let book of books">
                <img class="" [src]="environment+book.booktype_img" alt="">
                <div class="">
                    <p class="">{{book.booktypename}}</p>
                </div>
            </div>
        </div>
    </div>
</div>