/* Global classes starts  */
.bk-shadow{
    box-shadow: 4px 4px 12px  rgba(180, 179, 179, 0.315);
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
a{
    text-decoration: none;
    color: #FB3453;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
h4{
    font-size: 24px;
    margin: 0px;
}
p{
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0px;
    margin-left: 10px;
}
/* Global classes ends  */
/* book Container classes starts  */
.bookpage{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.bookcontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bookcontainer-row1{
    display: flex;
    justify-content: space-between;
}
.bookcontainer-row2{
    display: flex;
    flex-wrap: wrap;
    -ms-wrap-flow: 2;
    gap: 20px;
}
.bookdes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bookdes img{
    width: 250px;
    height: 320px;
}
.booktype{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.booktype img{
    width: 200px;
    height: 250px;
}
/* Media queries  */
/* @media(max-width: 1200px){
    .bookcontainer-row2{
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .bookdes img{
        width: 200px;
        height: 300px;
    }
} */
/* .bookpage{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.bookcontainer{
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: blue;
}
.bookcontainer-row1{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    width: 100%;
}
.bookcontainer-row2{
    display: flex;
    gap: 30px;
    background-color: red;
    overflow-x: hidden;
    max-width: 100%;    
}
.bookdes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bookdes img{
    box-shadow: 2px 2px 6px #EAEAEA;
    width: 250px;
    height: 350px;
}
.booktype{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.booktype img{
    box-shadow: 2px 2px 6px #EAEAEA;
    width: 200px;
    height: 250px;
}
media queries starts 
@media (max-width: 417px) { 
    .bk_shadow{
        padding: 5px;
    }
    .bookcontainer-row2{
        gap: 8px;
    }
    .bookdes{
        width: 40%;
    }
    .bookdes img{
        width: 60px;
    }
    h4{
        font-size: 16px;
    }
}
@media (max-width: 1200px) { 
    .bk_shadow{
        padding: 10px;
    }
    .bookcontainer-row2{
        gap: 20px;
    }
    .bookdes img{
        width: 230px;
        height: 320px;
    }
    .booktype{
        width: 80%;
    }
    .booktype img{
        width: 200px;
        height: 220px;
    }
    h4{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }
    a{
        font-size: 12px;
    }
}
@media (max-width: 992px) { 
    .bk_shadow{
        padding: 10px;
    }
    .bookcontainer-row2{
        gap: 20px;
    }
    .bookdes{
        width: 100%;
    }
    .bookdes img{
        width: 200px;
        height: 320px;
    }
    .booktype{
        width: 80%;
    }
    .booktype img{
        width: 200px;
        height: 200px;
    }
    h4{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }
    a{
        font-size: 12px;
    }
}
@media (max-width: 768px) { 
    .bookdes {
        width: 70%;
    }
    .bookdes img{
        width: 200px;
        height: 260px;
    }
    h4{
        font-size: 16px;
    }
}
@media (max-width: 576px) { 
    .bk_shadow{
        padding: 8px;
    }
    .bookcontainer-row2{
        gap: 10px;
    }
    .bookdes{
        width: 80%;
    }
    .bookdes img{
        width: 140px;
        height: 200px;
    }
    h4{
        font-size: 16px;
    }
} */