<div class="bookpage">
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <div style="display: flex; gap: 20px; align-items: center;">
                 <h4>Books Category</h4>
                 <!-- <button (click)="showDialog()" icon="pi pi-external-link" label="Show" type="button">
                    Add Category
                 </button> -->
            </div>
            <div style="display: flex; gap: 20px; align-items: center;">
                <button (click)="showDialog()" icon="pi pi-external-link" label="Show" type="button">
                    Add Category
                 </button>
                <!-- <a href="/bookcategorydetail">View All</a> -->
                <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div> -->
            </div>
        </div>
        <div class="bookcontainer-row2">
            <div class="bookdes" *ngFor="let category of categories.reverse() | slice:0:5; let i=index">
                <img (click)="onClickCategory(category.category)" [src]="environment+category.image" alt="">
                <div class="">
                    <p class="">{{category.category}}</p>
                </div>
            </div>
        </div>
        <a href="/bookcategorydetail">View All</a>
    </div>
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <div style="display: flex; gap: 20px; align-items: center;">
                <h4>Type</h4>
            </div>
            <!-- <button (click)="showTypeDialog()" icon="pi pi-external-link" label="Show" type="button">
                Add Type
            </button> -->
        </div>
        <div class="bookcontainer-row2">
            <div class="booktype" *ngFor="let type of types.reverse() | slice:0:5; let i=index">
                <img class="" (click)="onClickType(type.type)" [src]="environment+type.image" alt="">
                <div class="">
                    <p class="">{{type.type}}</p>
                </div>
            </div>
        </div>
        
        <a href="/booktypedetail">View All</a>
    </div>
</div>
<!-- Modal of add category form starts -->
<div class="card flex justify-content-center">
    <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
    <p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
            <h4 style="font-family: Poppins; color: black; font-size: 30px; margin: 0px 0px 10px 0px;">Add Category</h4>
            <form [formGroup]="categoryform" (ngSubmit)="onAddingCategory()" class="form-control" id="categoryform">
                <!-- <label for="category">Enter Category Name</label> -->
                <input type="text" class="form-control" name="category" id="category"  formControlName="category" placeholder="Enter category name" required>
                <div *ngIf="categoryform.controls['category'].invalid && (categoryform.controls['category'].dirty || categoryform.controls['category'].touched)">
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['required']">Category name is
                        required.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['pattern']">Name must be alphanumeric.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['minlength']">Name must be 3 to 40 characters long</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['maxlength']">Name must be 3 to 40 characters long</div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                   <div>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <label for="image" class="custom-file-upload" style="display: flex; flex-direction: column;text-align: center;">
                            <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                            <input type="file" id="image" name="image" formControlName="image" style="display: none;" required accept="image/png, image/jpeg, image/jpg">
                        </label>
                    </div>
                   </div>
                    <!-- <label for="image">Upload Image</label>
                    <input type="file" class="form-control" name="image" id="image"  formControlName="image" required> -->
                    <input type="submit" value="Save" (click)="closeDialog()">
                </div>
                
                <div>
                    <p *ngIf="categoryform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900; margin: 10px 0px 0px 0px;"></i> {{getImageFileName() }}</p>
                    <div *ngIf="categoryform.get('image')?.invalid && (categoryform.get('image')?.dirty || categoryform.get('image')?.touched)">
                        <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['required']">Please upload an image.</div>
                        <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['extension']">Invalid image format, Accepted format: .jpg, .jpeg, .png.</div>
                        <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['fileSize']">Image size should be lessthan 5mb.</div>
                    </div>
                </div>
            </form>
    </p-dialog>
</div>
<!-- Modal of add type form  -->
<div class="card flex justify-content-center">
    <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
    <p-dialog header="Add Type" [(visible)]="visibletypeform" [modal]="true" [draggable]="false" [resizable]="false">
            <!-- <h4 style="font-size: 26px; margin: 0px 0px 10px 0px">Add Type</h4> -->
            <form [formGroup]="typeform" (ngSubmit)="onAddingType()" class="form-control" id="categoryform">
                <!-- <label for="type">Enter Type Name</label> -->
                <div>
                    <select name="type" id="type" formControlName="type">
                        <option disabled selected value="">Select Type *</option>
                        <option *ngFor="let booktype of booktypes" [ngValue]="booktype.name">
                            {{ booktype.name }}
                        </option>
                        <!-- <option *ngFor="let state of states" [ngValue]="state">
                            {{ state.abbrev }}
                          </option> -->
                    </select>
                    <!-- <div  style="margin-top: 10px;"
                        *ngIf="addBookForm.controls['booktype'].invalid && (addBookForm.controls['booktype'].dirty || addBookForm.controls['booktype'].touched)">
                        <div *ngIf="addBookForm.controls['booktype'].errors?.['required']; ">
                            <div class="form-validation form-rules">Required Field.</div>
                        </div>
                    </div> -->
                    <div *ngIf="typeform.controls['type'].invalid && (typeform.controls['type'].dirty || typeform.controls['type'].touched)">
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['required']">Name is
                            required.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['pattern']">Name must be alphanumeric.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['minlength']">Name must be 3 to 20 characters long.</div>
                        <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['maxlength']">Name must be 3 to 20 characters long.</div>
                    </div>
                </div>
                <!-- <input type="text" class="form-control" name="type" id="category"  formControlName="type" placeholder="Enter book type name" required> -->
               <div style="display: flex; justify-content: space-between;">
                <div style="display: flex; gap: 10px; align-items: center;">
                    <label for="image" class="custom-file-upload" style="display: flex; justify-content: center; align-items: center">
                        <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                        <input type="file" id="image" name="image" formControlName="image" style="display: none;" required accept="image/png, image/jpeg, image/jpg">
                    </label>
                </div>
                <!-- <label for="image">Upload Image</label>
                    <input type="file" class="form-control" name="image" id="image"  formControlName="image" required> -->
                <input type="submit" value="Save" >
               </div>
                    <div>
                        <p *ngIf="typeform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> {{getTypeFileName() }}</p>
                        <div *ngIf="typeform.controls['image'].invalid && (typeform.controls['image'].dirty || typeform.controls['image'].touched)">
                            <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['required']">Image is required.</div>
                            <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['extension']">Invalid image format, Accepted format: .jpg, .jpeg, .png, .gif.</div>
                            <div class="form-validation form-rules" *ngIf="typeform.controls['type'].errors?.['fileSize']">Image size should be lessthan 5mb.</div>
                        </div>
                    </div>
            </form>
    </p-dialog>
</div>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="categoryform" (ngSubmit)="onAddingCategory()" class="form-control" id="categoryform">
                <label for="category">Enter Category Name</label>
                <input type="text" class="form-control" name="category" id="category"  formControlName="category" placeholder="Enter category name" required>
                <div *ngIf="categoryform.controls['category'].invalid && (categoryform.controls['category'].dirty || categoryform.controls['category'].touched)">
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['required']">Category name is
                        required.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['pattern']">Name must be alphanumeric.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['minlength']">Name must be 3 to 40 characters long</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['maxlength']">Name must be 3 to 40 characters long</div>
                </div>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <label for="image" class="custom-file-upload" style="display: flex; flex-direction: column;text-align: center;">
                        <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                        <input type="file" id="image" name="image" formControlName="image" style="display: none;" required>
                    </label>
                    <p *ngIf="categoryform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> {{getImageFileName() }}</p>
                </div>
                <div *ngIf="categoryform.get('image')?.invalid && (categoryform.get('image')?.dirty || categoryform.get('image')?.touched)">
                    <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['required']">Please upload an image.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['extension']">Invalid image format, Accepted format: .jpg, .jpeg, .png, .gif.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['fileSize']">Image size should be lessthan 5mb.</div>
                </div>
                <label for="image">Upload Image</label>
                <input type="file" class="form-control" name="image" id="image"  formControlName="image" required>
                <input type="submit" value="Save">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
<!-- <div class="card flex justify-content-center">
    <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
    <p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
            <h4 style=" font-size: 26px; margin: 0px 0px 20px 0px;">Add Category</h4>
            <form [formGroup]="categoryform" (ngSubmit)="onAddingCategory()" class="form-control" id="categoryform">
                <label for="category">Enter Category Name</label>
                <input type="text" class="form-control" name="category" id="category"  formControlName="category" placeholder="Enter category name" required>
                <div *ngIf="categoryform.controls['category'].invalid && (categoryform.controls['category'].dirty || categoryform.controls['category'].touched)">
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['required']">Category name is
                        required.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['pattern']">Name must be alphanumeric.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['minlength']">Name must be 3 to 40 characters long</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['maxlength']">Name must be 3 to 40 characters long</div>
                </div>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <label for="image" class="custom-file-upload" style="display: flex; flex-direction: column;text-align: center;">
                        <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                        <input type="file" id="image" name="image" formControlName="image" style="display: none;" required>
                    </label>
                    <p *ngIf="categoryform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> {{getImageFileName() }}</p>
                </div>
                <div *ngIf="categoryform.get('image')?.invalid && (categoryform.get('image')?.dirty || categoryform.get('image')?.touched)">
                    <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['required']">Please upload an image.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['extension']">Invalid image format, Accepted format: .jpg, .jpeg, .png, .gif.</div>
                    <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['fileSize']">Image size should be lessthan 5mb.</div>
                </div>
                <label for="image">Upload Image</label>
                <input type="file" class="form-control" name="image" id="image"  formControlName="image" required> 
                <input type="submit" value="Save">
            </form>
    </p-dialog>
</div> -->
<!-- Modal of add category form starts -->
<!-- <div class="bookpage">
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Category</h4>
            <a href="/bookcategorydetail">View All</a>
        </div>
        <div class="bookcontainer-row2">
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
        </div>
    </div>
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Type</h4>
            <a href="/booktypedetail">View All</a>
        </div>
        <div class="bookcontainer-row2">
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
        </div>
    </div>
</div> -->