<div class="bookpage">
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Category</h4>
            <div style="display: flex; gap: 20px; align-items: center;">
                <a href="/bookcategorydetail">View All</a>
                <div class="dropdown" (click)="toggleDropdown()">
                    <i class="fas fa-ellipsis-v fa-1x" style="color: #fb3453; cursor: pointer;"></i>
                    <div class="dropdown-content" *ngIf="isDropdownOpen">
                        <a href="/addbook">Add Book</a>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="bookcontainer-row2">
            <div class="bookdes" *ngFor="let category of categories | slice:0:5; let i=index">
                <img (click)="onClickCategory(category.category)" [src]="environment+category.image" alt="">
                <div class="">
                    <p class="">{{category.category}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Type</h4>
            <a href="/booktypedetail">View All</a>
        </div>
        <div class="bookcontainer-row2">
            <div class="booktype" *ngFor="let type of types | slice:0:5; let i=index">
                <img class="" (click)="onClickType(type.type)" [src]="environment+type.image" alt="">
                <div class="">
                    <p class="">{{type.type}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="bookpage">
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Category</h4>
            <a href="/bookcategorydetail">View All</a>
        </div>
        <div class="bookcontainer-row2">
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img src="./../../../../assets/images/book1.png" alt="">
                <p class="">Category Name</p>
            </div>
            <div class="bookdes">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
        </div>
    </div>
    <div class="bookcontainer bk-shadow" >
        <div class="bookcontainer-row1">
            <h4>Books Type</h4>
            <a href="/booktypedetail">View All</a>
        </div>
        <div class="bookcontainer-row2">
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
            <div class="booktype">
                <img class="" src="./../../../../assets/images/book1.jpg" alt="">
                <p class="">Type Name</p>
            </div>
        </div>
    </div>
</div> -->