<div class="loginform-conatiner">
  <div class="loginform-col2">
      <div class="logo">
        <img src="./../../assets/images/logo.png" alt="">
        <h5>Book Library</h5>
      </div>
      <div>
        <h4>Sign In</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ducimus? Velit et a modi nobis.</p>
      </div>
      <form [formGroup]="loginform" (ngSubmit)="onSubmit()" class="form-control ">
        <div class="form-label">
          <label for="mail">Email</label>
          <input type="email" class="form-control" name="email" id="Username" formControlName="email"
            aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-label">
          <label for="password">Password</label>
          <div class="input-group" style="display: flex; align-items: center;">
            <input type="password" style="width: 100%;" class="form-control" name="password" formControlName="password" id="Password"
              placeholder="Password" required />
              <i class="far fa-eye" (click)="togglePasswordVisibility()"></i>
          </div>
        </div>
        <div class="form-input">
          <div>
            <input type="checkbox"  id="rememberCheckbox">
            <label for="rememberCheckbox">Remember me</label>
            <span class="checkmark"></span>
          </div>
          <div>
            <a href="/forgotpassword" style="color: black; font-weight: bold;">Forgot Password?</a>
          </div>
        </div>
        <div>
          <button type="submit" class="button">Log In</button>
          <p style="text-align: center; margin-top: 10px;" >Don't have an account? <a href="/register"> <span
                style="color: #fb3453; font-weight: bold; cursor: pointer;">Sign Up</span></a></p>
        </div>
      </form>
    </div>
  </div>