<div class="bk-shadow">
    <div class="book-search">
        <div class="search_box">
            <i class="fas fa-search fa-lg"></i>
            <input type="search" placeholder="Search book by category">
        </div>
        <button type="button" class="btn btn-primary">Button</button>
        <button type="button" data-toggle="modal" data-target="#exampleModal">Category  <i class="fas fa-plus fa-md" style="color: white; margin-left: 10px;"></i></button>
    </div>
    <div class="bookcontainer" >
        <div class="bookcontainer-row2">
<!-- <<<<<<< HEAD -->
            <div class="bookdes" *ngFor="let category of categories.reverse()">
                <div class="image-container">
                    <img [src]="environment+category.image" alt="">
                    <div class="button-container">
                      <a href=""><i class="far fa-eye fa-2x" style="color: #fb3453;"></i></a>
                      <a [href]="'/editbookcategory/' + category.id"><i class="far fa-edit fa-2x" style="color: #68a900;"></i></a>
                      <a (click)="confirmDelete(category.id)"><i class="fas fa-trash fa-2x" style="color: #fb3453;"></i></a>
<!-- ======= -->
<!-- >>>>>>> 5ba9bc53eacad7098ba50c9f883126c50829dbbb -->
                    </div>
                </div>
                <div class="">
                    <p class="category-text">{{category.category}}</p>
                </div>
            </div>
            <!-- <div class="bookdes" (click)="showcategoryform()"> -->
                <!-- <form action="">
                    <label for="category"></label>
                    <input type="text">
                </form> -->
                <!-- <div class="addcategory">
                    <i class="fas fa-plus fa-lg" style="color: #fb3453;"></i>
                    <button>Add New Category</button>
                </div> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ... <form [formGroup]="categoryform" (ngSubmit)="onAddingCategory()" class="form-control" id="categoryform">
            <!-- <label for="category">Enter Category Name</label> -->
            <input type="text" class="form-control" name="category" id="category"  formControlName="category" placeholder="Enter category name" required>
            <div *ngIf="categoryform.controls['category'].invalid && (categoryform.controls['category'].dirty || categoryform.controls['category'].touched)">
                <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['required']">Category name is
                    required.</div>
<!-- <<<<<<< HEAD -->
                <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['pattern']">Name must be alphanumeric.</div>
                <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['minlength']">Name must be 3 to 40 characters long</div>
                <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['maxlength']">Name must be 3 to 40 characters long</div>
<!-- ======= -->
                <!-- <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['pattern']">Name must be alphanumeric.</div> -->
                <!-- <div class="form-validation form-rules" *ngIf="categoryform.controls['category'].errors?.['pattern']">Category name must be in alphabets.</div> -->
<!-- >>>>>>> 5ba9bc53eacad7098ba50c9f883126c50829dbbb -->
            </div>
            <div style="display: flex; gap: 10px; align-items: center;">
                <label for="image" class="custom-file-upload" style="display: flex; flex-direction: column;text-align: center;">
                    <span><i class="fas fa-upload" style="margin-right: 10px;"></i>Image</span>
                    <input type="file" id="image" name="image" formControlName="image" style="display: none;" required>
                </label>
                <p *ngIf="categoryform.get('image')?.value"><i class="fas fa-file-image fa-2x" style="color: #68a900;"></i> {{getImageFileName() }}</p>
            </div>
            <div *ngIf="categoryform.get('image')?.invalid && (categoryform.get('image')?.dirty || categoryform.get('image')?.touched)">
                <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['required']">Please upload an image.</div>
<!-- <<<<<<< HEAD -->
                <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['extension']">Invalid image format, Accepted format: .jpg, .jpeg, .png, .gif.</div>
                <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['fileSize']">Image size should be lessthan 5mb.</div>
<!-- ======= -->
                <!-- <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['extension']">Invalid image, Accepted image format is .png, .jpg, .jpeg</div>
                <div class="form-validation form-rules" *ngIf="categoryform.get('image')?.errors?.['fileSize']">Image size should be less than 5mb</div> -->
                <!-- <span *ngIf="categoryform.get('image')?.errors?.['invalidImageExtension']">Invalid file type. Please upload an image with extension: jpg, jpeg, png, gif.</span> -->
<!-- >>>>>>> 5ba9bc53eacad7098ba50c9f883126c50829dbbb -->
            </div>
            <!-- <label for="image">Upload Image</label>
            <input type="file" class="form-control" name="image" id="image"  formControlName="image" required> -->
            <input type="submit" value="Save">
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
