<div class="navbarContainer">
    <div class="menuContainer">
        <div class="logoContainer">
            <img src="./../../../assets/images/logo.png" alt="">
            <h4>Book Library</h4>
        </div>
        <div class="menu">
            <img src="./../../../assets/images/dash_icon.png" alt="">
            <a>Dashboard</a>
        </div>
        <div class="menu">
            <img src="./../../../assets/images/reader_icon.png" alt="">
            <a>Reader Management</a>
        </div>
        <div class="menu">
            <img src="./../../../assets/images/book_icon.png" alt="">
            <a>Book Management</a>
        </div>
        <div class="menu">
            <img src="./../../../assets/images/report_icon.png" alt="">
            <a>Reports</a>
        </div>
    </div>
    <div>
        <div class="menu setting">
            <img src="./../../../assets/images/settings_icon.png" alt="">
            <a>Settings</a>
        </div>
    </div>
</div>