<div class="navbarContainer">
    <div>
        <figure class="logoContainer">
            <img src="./../../../assets/images/logo.png" alt="">
            <figcaption>
                 <h4>Book Library</h4>
            </figcaption>
        </figure>
        <div>
            <ul>
                <div class="menuContainer">
                    <div>
                        <div class="menu">
                            <img src="./../../../assets/images/dash_icon.png" alt="">
                            <li>Dashboard</li> 
                        </div>
                        <div class="menu">
                            <img src="./../../../assets/images/reader_icon.png" alt="">
                            <li>Reader Management</li>
                        </div>
                        <div class="menu">
                            <img src="./../../../assets/images/book_icon.png" alt="">
                            <li>Book Management</li>
                        </div>
                        <div class="menu">
                            <img src="./../../../assets/images/report_icon.png" alt="">
                            <li>Reports</li>
                        </div>
                    </div>
                    <div > 
                        <div class="menu setting">
                            <img src="./../../../assets/images/settings_icon.png" alt="">
                            <li>Settings</li>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
