<header class="userheader">
    <div class="userheader-row1">
        <div class="userheader-row">
            <button><i class="fas fa-bars fa-2x" style="color: #000000;"></i></button>
            <div>
                <img src="./../../../../assets/images/pass_img.jpg" alt="">
             </div>
        </div>
            <h2>Hello Emilly!</h2>
            <div class="barcode-reader">
                <div class="search_box">
                        <img src="./../../../assets/images/search_bar.png" alt="">
                        <input type="search" placeholder="Search your book">
                </div>
                <div class="userheader-barcode">
                    <img src="./../../../../assets/images/barcode.png" alt="">
                </div>
            </div>
    </div>
    <div class="userheader-row2">
       <img src="./../../../../assets/images/pass_img.jpg" alt="">
    </div>
</header>
