/* GLobal Classes  */
*{
    margin: 0px;
    padding: 0px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
    font-weight: 300;
}
a, button{
    cursor: pointer;
}
/* header classes start  */
header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* box-shadow: 2px 2px 12px  rgba(128, 128, 128, 0.308); */
    /* position: fixed; */
}
.search_box{
    padding: 10px;
    border: solid 1px #ffffffc4;
    background-color: #d3d0d046;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.search_box input{
    width: 200px;
}
.search_box img{
    width: 20px;
    height: 20px;
}
input{
    border: none;
    margin-left: 20px;
    background: transparent;
    font-family: Poppins;
}
.header_col2{
    display: flex; 
    gap: 16px;
}
.bell_icon{
    display: flex;
    align-self: center;
}
.bell_icon img{
   width: 18px;
}
.header_col3 {
    display: flex; 
    align-items: center;
    gap: 10px;
}
.header_col3 img{
    width: 48px;
    border-radius: 50%;
}
/* User header classes stsrts  */

.user-header{
    display: none;
}
.user-header-col1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-header-col1 img{
    width: 48px;
    border-radius: 50%;
}
/* Dropdown button  */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
button{
    background: transparent;
    border: none;
} 
/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
    right: 100%;
    left: auto;
}
/* Media Queries  */
@media (max-width: 576px) {
    /* .admin-header{
        display: none;
    } */
    /* .user-header{
        display: flex;
        flex-direction: column;
        gap: 20px;
    } */
   /* .search_box{
    display: none;
   }
   .ressearch_box{
    padding: 10px;
    border: solid 1px #ffffffc4;
    background-color: #d3d0d046;
    border-radius: 5px;
    display: flex;
   } */
}
@media (max-width: 992px){
    .search_box{
        margin-left: 50px;
    }
}