<div class="reader-container">
    <div class="readercontainer-sec1">
         <div class="readerconatiner-row1">
              <div class="reader-info bk-shadow">
                  <img src="./../../../assets/images/reader.png" alt="">
                  <h6>Total Readers</h6>
                  <div class="graph">
                    <h5>21.000</h5>
                    <div class="total-info">
                        <img src="./../../../assets/images/line.png" alt="">
                        <h3>20%</h3>
                    </div>
                  </div>
              </div>
              <div class="reader-info bk-shadow bk-clr">
                   <img src="./../../../assets/images/active_reader.png" alt="">
                   <h6>Active Readers</h6>
                   <div class="graph">
                    <h5>210</h5>
                    <div class="total-info">
                        <img src="./../../../assets/images/linegraph.png" alt="">
                        <h3>20%</h3>
                    </div>
                   </div>
              </div>
         </div>
         <div class="readerconatiner-row2 bk-shadow">
            <div class="view">
                <h4>Reader List</h4>
                <a href="">View All</a>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Reader Id</th>
                    <th scope="col">Reader Name</th>
                    <th scope="col">Joining Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <div class="reader-name">
                     <img src="./../../../assets/images/pass_img.jpg" alt="">   
                     <td>Otto</td>
                    </div>
                    <td>22</td>
                    <td><p class="active">Active</p></td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <div class="reader-name">
                        <img src="./../../../assets/images/pass_img.jpg" alt="">   
                        <td>Otto</td>
                       </div>
                    <td>23</td>
                    <td><p class="inactive">Inactive</p></td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <div class="reader-name">
                        <img src="./../../../assets/images/pass_img.jpg" alt="">   
                        <td>Otto</td>
                       </div>
                    <td>24</td>
                    <td><p class="active">Active</p></td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <div class="reader-name">
                        <img src="./../../../assets/images/pass_img.jpg" alt="">   
                        <td>Otto</td>
                    </div>
                    <td>24</td>
                    <td><p class="inactive">Inactive</p></td>
                    <td>22</td>
                  </tr>
                </tbody>
              </table>
         </div>
    </div>
    <div class="readercontainer-sec2">
        <div class="bk-shadow">
            <div class="view">
                <h4>New Reader Added</h4>
                <p>Subscribe</p>
            </div>
            <div class="chart-container">
                <canvas  id="mychart" >{{ chart }}</canvas>
            </div>
        </div>
        <div class="bk-shadow">
            <div class="view">
                <h4>Subscribed Viewers</h4>
                <a href="">View All</a>
            </div>
            <div class="cardcontainer">
                <div class="sub-detail">
                    <img class="" src="./../../../assets/images/pass_img.jpg" alt="Card image cap">
                    <div class="">
                      <h6 class="">Grayson Prince</h6>
                      <p class="sub-date">Due on 5 nov</p>
                    </div>
                </div>
                <div class="sub-detail">
                    <img class="" src="./../../../assets/images/pass_img.jpg" alt="Card image cap">
                    <div class="">
                      <h6 class="">Grayson Prince</h6>
                      <p class="sub-date">Due on 5 nov</p>
                    </div>
                </div>
                <div class="sub-detail">
                    <img class="" src="./../../../assets/images/pass_img.jpg" alt="Card image cap">
                    <div class="">
                      <h6 class="">Grayson Prince</h6>
                      <p class="sub-date">Due on 5 nov</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
