<div class="mainPage">
    <div class="mainPage_col1" >
        <img src="./../../../assets/images/mainimage.png" alt="">
    </div>
    <div class="mainPage_col2">
        <div class="mainPage_col2_content">
            <h3>Discover New World!!</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta reprehenderit nisi perferendis, enim blanditiis quisquam debitis accusantium dolorum incidunt molestiae quod! Natus enim velit assumenda corrupti repudiandae nostrum mollitia dignissimos veritatis voluptatem recusandae! Totam, ex labore quo eveniet blanditiis amet.</p>
        </div>
        <div class="btnicon">
            <img src="./../../../assets/images/dot.png" alt="">
            <a href="/login"><button>Let's Go!</button></a>
        </div>
    </div>
</div>
