<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <h4>Set Password</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore nisi odit quo fugit reprehenderit?</p>

        <!-- OTP form  -->
        <form [formGroup]="setPasswordForm" (ngSubmit)="onSetPassword()" class="form-control" id="setPasswordForm">
            <div class="form-label">
                <label for="password">Enter Password</label>
                    <!-- <input type="password" style="width: 100%;" class="form-control" name="password" id="password" formControlName="password"
                        aria-describedby="emailHelp" placeholder="Enter Password"/>
                        <i class="far fa-eye" (click)="togglePasswordVisibility()"></i> -->
                        <div style="display: flex; align-items: center;">
                            <input type="password" style="width: 100%;" class="form-control" name="password" formControlName="password" id="Password"
                              placeholder="Password" required />
                              <i class="far fa-eye" (click)="togglePasswordVisibility()"></i>
                        </div>
                    <div
                        *ngIf="setPasswordForm.controls['password'].invalid && (setPasswordForm.controls['password'].dirty || setPasswordForm.controls['password'].touched)">
                        <div class="form-validation form-rules" *ngIf="setPasswordForm.controls['password'].errors?.['required']">Password required.</div>
                        <div class="form-validation form-rules" *ngIf="setPasswordForm.controls['password'].errors?.['minlength']">Password must be greather than 
                            eight alphabets.</div>
                    </div>
                    <!-- <div style="display: flex; align-items: center;">
                        <input type="password" style="width: 100%;" class="form-control" name="confirmpassword" id="password" formControlName="confirmpassword"
                           aria-describedby="emailHelp" placeholder="Confirm Password" required />
                        <i class="far fa-eye" (click)="togglePasswordVisibility()"></i>
                    </div> -->
                    <div style="display: flex; align-items: center;">
                        <input type="password" style="width: 100%;" class="form-control" name="confirmpassword" formControlName="confirmpassword" id="confirmpassword"
                          placeholder="Confirm Password" required />
                          <i class="far fa-eye" (click)="toggleConfirmPasswordVisibility()"></i>
                    </div>
                   <div
                        *ngIf="setPasswordForm.controls['confirmpassword'].invalid && (setPasswordForm.controls['confirmpassword'].dirty || setPasswordForm.controls['confirmpassword'].touched)">
                        <div class="form-validation form-rules" *ngIf="setPasswordForm.controls['confirmpassword'].errors?.['required']">Password required.</div>
                   </div>
                   <div class="form-validation form-rules" *ngIf="setPasswordForm.errors?.['mismatch'] && setPasswordForm.get('confirmpassword')?.touched">Password must match</div>
            </div>
            <div>
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>