<div class="loginform-conatiner">
    <div class="loginform-col2">
        <div class="logo">
            <img src="./../../assets/images/logo.png" alt="">
            <h5>Book Library</h5>
        </div>
        <div class="back-button">
            <i (click)="onBack()" class="fas fa-arrow-left" style="color: black;cursor: pointer;"></i>
            <h4>Set Password</h4>

        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore nisi odit quo fugit reprehenderit?</p>

        <!-- OTP form  -->
        <form [formGroup]="setPasswordForm" (ngSubmit)="onSetPassword()" class="form-control" id="setPasswordForm">
            <div class="form-label">
                <label for="password">Create Password</label>
                    <!-- <input type="password" style="width: 100%;" class="form-control" name="password" id="password" formControlName="password"
                        aria-describedby="emailHelp" placeholder="Enter Password"/>
                        <i class="far fa-eye" (click)="togglePasswordVisibility()"></i> -->
                        <div class="input-group" style="display: flex; align-items: center;">
                            <input type="password" style="width: 100%;" class="form-control" name="password" formControlName="password" id="Password"
                              placeholder="Password" required />
                              <span class="toggle-password" (click)="togglePasswordVisibility()">
                                <i class="far fa-eye"></i>
                              </span>
                        </div>
                    <div
                        *ngIf="setPasswordForm.controls['password'].invalid && (setPasswordForm.controls['password'].dirty || setPasswordForm.controls['password'].touched)">
                        <div class="form-validation form-rules" *ngIf="setPasswordForm.controls['password'].errors?.['required']">Password is required.</div>
                        <div class="form-validation" *ngIf="setPasswordForm.controls['password'].errors?.['pattern']">
                            <p class="form-rules" *ngIf="setPasswordForm.controls['password'].errors?.['pattern']">
                                Please ensure your password contains at least one uppercase letter, one number and one special character.
                            </p>
                            <p class="form-rules" *ngIf="setPasswordForm.controls['password'].errors?.['minlength']">
                                Please ensure your password has a length between 8 and 20 characters.
                            </p>
                        </div>
                    </div>
                    <!-- <div style="display: flex; align-items: center;">
                        <input type="password" style="width: 100%;" class="form-control" name="confirmpassword" id="password" formControlName="confirmpassword"
                           aria-describedby="emailHelp" placeholder="Confirm Password" required />
                        <i class="far fa-eye" (click)="togglePasswordVisibility()"></i>
                    </div> -->
                    <div class="input-group" style="display: flex; align-items: center;">
                        <input type="password" style="width: 100%;" class="form-control" name="confirmpassword" formControlName="confirmpassword" id="confirmpassword"
                          placeholder="Confirm Password" required />
                          <span class="toggle-confirmpassword" (click)="toggleConfirmPasswordVisibility()">
                            <i class="far fa-eye"></i>
                          </span>
                    </div>
                    <div *ngIf="setPasswordForm.controls['confirmpassword'].invalid && (setPasswordForm.controls['confirmpassword'].dirty || setPasswordForm.controls['confirmpassword'].touched)">
                        <div *ngIf="setPasswordForm.controls['confirmpassword'].errors?.['required'] else mismatchError">
                            <div class="form-validation form-rules">Please confirm password</div>
                        </div>
                        <ng-template #mismatchError>
                            <div class="form-validation form-rules">Password must match</div>
                        </ng-template>
                    </div>
            </div>
            <div>
                <button type="submit" class="button" [disabled]="!setPasswordForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>