<div class="trendingbooks">
    <!-- Trending Books Section  -->
    <div class="trendingbooks-row1">
        <div class="trendingbooks-col1">
            <h4>Trending Books</h4>
            <a href="">View All</a>
        </div>
        <div class="trendingbooks-col2">
            <div class="trendingbooks-details">
                <img src="./../../../../assets/images/book_2.png" alt="">
                <p>Be A Kind Mosquito</p>
            </div>
            <div  class="trendingbooks-details">
                <img src="./../../../../assets/images/out_book.jpg" alt="">
                <p>Out of the box</p>
            </div>
            <div class="trendingbooks-details">
                <img src="./../../../../assets/images/book_2.png" alt="">
                <p>Be A Kind Mosquito</p>
            </div>
            <div class="trendingbooks-details">
                <img src="./../../../../assets/images/out_book.jpg" alt="">
                <p>Out of the box</p>
            </div>
            <div class="trendingbooks-details">
                <img src="./../../../../assets/images/book_2.png" alt="">
                <p>Be A Kind Mosquito</p>
            </div>
        </div>
    </div>
    <!-- My Books Section  -->
    <div class="trendingbooks-row1">
        <div class="trendingbooks-col1">
            <h4>My Books</h4>
            <a href="">View All</a>
        </div>
        <div class="trendingbooks-fav">
            <div class="trendingbooks-fav-row1">
                <div class="trendingbooks-fav-col1">
                    <img src="./../../../../assets/images/out_book.jpg" alt="">
                    <div>
                        <h5>Speed Smart Reading</h5>
                        <p style="margin: 0px; color: #0000006e;"><span style="color: #fb3453">Writer:</span> Vimegh Askari MBA</p>
                    </div>
                </div>
                <i class="fas fa-heart fa-2x likeicon-large"></i>
                <i class="fas fa-heart fa-x likeicon-small"></i>
            </div>
            <div class="trendingbooks-fav-row1">
                <div class="trendingbooks-fav-col1">
                    <img src="./../../../../assets/images/out_book.jpg" alt="">
                    <div>
                        <h5>Speed Smart Reading</h5>
                        <p style="margin: 0px; color: #0000006e;"><span style="color: #fb3453">Writer:</span> Vimegh Askari MBA</p>
                    </div>
                </div>
                <i class="fas fa-heart fa-2x likeicon-large"></i>
                <i class="fas fa-heart fa-x likeicon-small"></i>
            </div>
        </div>
    </div>
</div>