<div class="loginform">
    <div class="loginform-conatiner">
        <div class="loginform-col1">
            <div>
                <h2>Welcome to our Library</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aspernatur qui esse, consequatur
                    enim in!
                </p>
            </div>
            <div class="admin">
                <div class="star-icon">
                    <img src="./../../assets/images/Star.png" alt="">
                    <img src="./../../assets/images/Star.png" alt="">
                    <img src="./../../assets/images/Star.png" alt="">
                    <img src="./../../assets/images/Star.png" alt="">
                    <img src="./../../assets/images/Star.png" alt="">
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, minus odit qui voluptatum neque
                    magni.</p>
                <div class="admin-profile">
                    <img src="./../../assets/images/pass_img.jpg" alt="">
                    <div>
                        <p>Halena Brauer</p>
                        <p>Founder & CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>